Importo los data del 2015 al 2020

In [269]:
import pandas as pd
import numpy as np

testing = pd.read_csv('./output/testing2.csv')
fif = pd.read_csv('./output/f20.csv')
evol = pd.read_csv("./output/testing.csv")

Trabajo con la columna 'player_positions', utilizo solo la primera posici√≥n, que es la mas usada por el jugador

In [270]:
testing = testing.drop(['Unnamed: 0'], axis=1)
testing.head()

,sofifa_id,short_name,player_positions,overall_15,overall_16,overall_17,overall_18,overall_19,overall_20,overall
0,158023,L. Messi,ED,93.0,94.0,94.0,94.0,94.0,94,93
1,20801,Cristiano Ronaldo,ST,92.0,93.0,93.0,93.0,94.0,93,93
2,190871,Neymar Jr,EI,90.0,90.0,92.0,92.0,92.0,92,93
3,200389,J. Oblak,GK,90.0,90.0,92.0,92.0,91.0,91,90
4,183277,E. Hazard,EI,90.0,90.0,92.0,92.0,91.0,91,91

In [258]:
fif= fif[['age','pace','shooting','passing','dribbling','defending','physic',]]
fif.head()

   age  pace  shooting  passing  dribbling  defending  physic
0   32  87.0      92.0     92.0       96.0       39.0    66.0
1   34  90.0      93.0     82.0       89.0       35.0    78.0
2   27  91.0      85.0     87.0       95.0       32.0    58.0
3   26   0.0       0.0      0.0        0.0        0.0     0.0
4   28  91.0      83.0     86.0       94.0       35.0    66.0

In [260]:
fif['evol'] = evol[['evol']]

In [261]:
fifa2 = pd.concat([testing, fif], axis=1)

In [262]:
fifa2.head()

,sofifa_id,short_name,player_positions,overall_15,overall_16,overall_17,overall_18,overall_19,overall_20,overall,age,pace,shooting,passing,dribbling,defending,physic,evol
0,158023,L. Messi,ED,93.0,94.0,94.0,94.0,94.0,94,93,32,87.0,92.0,92.0,96.0,39.0,66.0,-1
1,20801,Cristiano Ronaldo,ST,92.0,93.0,93.0,93.0,94.0,93,93,34,90.0,93.0,82.0,89.0,35.0,78.0,0
2,190871,Neymar Jr,EI,90.0,90.0,92.0,92.0,92.0,92,93,27,91.0,85.0,87.0,95.0,32.0,58.0,1
3,200389,J. Oblak,GK,90.0,90.0,92.0,92.0,91.0,91,90,26,0.0,0.0,0.0,0.0,0.0,0.0,-1
4,183277,E. Hazard,EI,90.0,90.0,92.0,92.0,91.0,91,91,28,91.0,83.0,86.0,94.0,35.0,66.0,0

In [263]:
fifa2.isnull().sum()[fifa2.isnull().sum() != 0]

overall_15    2813
overall_16    3397
overall_17    1269
overall_18     686
overall_19     508
dtype: int64

In [264]:
columnas = ['overall_15','overall_16','overall_17','overall_18','overall_19','pace','shooting','passing','dribbling','defending','physic']
for p in columnas:
    fifa2[p] = fifa2[p].fillna(value=0).astype(int)

In [265]:
fifa2.isnull().sum()[fifa2.isnull().sum() != 0]

Series([], dtype: int64)

In [266]:
fifa2.to_csv("./output/fifa.csv")

In [267]:
fifa2.head()

,sofifa_id,short_name,player_positions,overall_15,overall_16,overall_17,overall_18,overall_19,overall_20,overall,age,pace,shooting,passing,dribbling,defending,physic,evol
0,158023,L. Messi,ED,93,94,94,94,94,94,93,32,87,92,92,96,39,66,-1
1,20801,Cristiano Ronaldo,ST,92,93,93,93,94,93,93,34,90,93,82,89,35,78,0
2,190871,Neymar Jr,EI,90,90,92,92,92,92,93,27,91,85,87,95,32,58,1
3,200389,J. Oblak,GK,90,90,92,92,91,91,90,26,0,0,0,0,0,0,-1
4,183277,E. Hazard,EI,90,90,92,92,91,91,91,28,91,83,86,94,35,66,0

In [268]:
def get_best_squad(df_name, over, position):
    df_copy = df_name.copy()
    store = []
    over = df_copy['overall_15','overall_16','overall_17','overall_18','overall_19','overall_20',]
    for o in over:
        for i in position:
            store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i][o].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i][o].max()])
            df_copy.drop(df_copy[df_copy['player_positions'] == i][o].idxmax(), inplace = True)
            return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'Overall']).to_string(index = False)



squad_433 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'CM', 'EI', 'ST', 'ED']
squad_343 = ['GK', 'DF', 'DF', 'DF', 'CI', 'CM', 'CM', 'CD', 'EI', 'ST', 'ED']
squad_352 = ['GK', 'DF', 'DF', 'DF', 'LI', 'LD', 'CM', 'CM', 'MP', 'ST', 'ST']
squad_442 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CI', 'CM', 'CM', 'CD', 'ST', 'ST']
squad_523 = ['GK', 'LI', 'DF', 'DF', 'DF', 'LD', 'CM', 'CM', 'ST', 'ST', 'ST']
squad_451 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'EI', 'MP', 'ED', 'ST']


print ('4-3-3 in FIFA 20')
print (get_best_squad(df20, overall_, squad_433))
print ('3-4-3 in FIFA 19')
print (get_best_squad(df19, over, squad_343))
print ('3-5-2 in FIFA 18')
print (get_best_squad(df18, over, squad_352))
print ('4-2-2 in FIFA 17')
print (get_best_squad(df17, over, squad_442))
print ('5-2-3 in FIFA 16')
print (get_best_squad(df16, over, squad_523))
print ('4-5-1 in FIFA 15')
print (get_best_squad(df15, over,  squad_451))

4-3-3 in FIFA 20

NameError: name 'overall_' is not defined

Lo pruebo y ...

In [181]:
print ('4-3-3 in FIFA 21')
print (get_best_squad(testing, squad_433))

4-3-3 in FIFA 21
Position              Player Overall
      GK            J. Oblak      90
      LI          Jordi Alba      87
      DF         V. van Dijk      89
      DF        K. Koulibaly      89
      LD            Carvajal      86
      CM        K. De Bruyne      91
      CM           L. Modriƒá      89
      CM            N. Kant√©      89
      EI           Neymar Jr      93
      ST   Cristiano Ronaldo      93
      ED            L. Messi      93

## edad

In [130]:
def age(df,n,m):
    return df[(df['age'] >= n) & (df['age'] < m)]

In [131]:
age (df20, 17, 21)

       sofifa_id     short_name player_positions  overall  age
10        231747      K. Mbapp√©               ST       89   20
73        235243     M. de Ligt               DF       85   19
74        230621  G. Donnarumma               GK       85   20
108       233049      J. Sancho               CD       84   19
109       235790     K. Havertz               CM       84   20
...          ...            ...              ...      ...  ...
18269     252181   Huang Jiahui               DF       48   18
18271     243961       E. Tweed               CM       48   20
18272     251789      P. Martin               GK       48   20
18275     252332      Zhang Wei               CM       48   19
18276     251110   Wang Haijian               CM       48   18

[3127 rows x 5 columns]

## Evoluci√≥n!!

a√±ando la columna 'overall' del 2020 para hacer la comparacion con la predicci√≥n del 2021, y ordenos las columnas para que visualmente sea mas atractivo

In [16]:
testing['overall_2020'] = df20[['overall']]
testing.head()

   sofifa_id  overall player_positions         short_name  overall_2020
0     158023       93               ED           L. Messi            94
1      20801       93               ST  Cristiano Ronaldo            93
2     190871       93               EI          Neymar Jr            92
3     200389       90               GK           J. Oblak            91
4     183277       91               EI          E. Hazard            91

In [17]:
testing = testing[['sofifa_id','short_name', 'player_positions', 'overall_2020', 'overall']]
testing.head()

   sofifa_id         short_name player_positions  overall_2020  overall
0     158023           L. Messi               ED            94       93
1      20801  Cristiano Ronaldo               ST            93       93
2     190871          Neymar Jr               EI            92       93
3     200389           J. Oblak               GK            91       90
4     183277          E. Hazard               EI            91       91

In [18]:
testing['evol'] = (testing['overall']-testing['overall_2020'])

In [19]:
testing.head()

   sofifa_id         short_name player_positions  overall_2020  overall  evol
0     158023           L. Messi               ED            94       93    -1
1      20801  Cristiano Ronaldo               ST            93       93     0
2     190871          Neymar Jr               EI            92       93     1
3     200389           J. Oblak               GK            91       90    -1
4     183277          E. Hazard               EI            91       91     0

In [20]:
testing.to_csv("./output/testing.csv")

Funcion para decidir el once que mas va a evolucionar en un a√±o, por posicion

In [21]:
def get_best_eval(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['evol'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['evol'].max()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['evol'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'evol']).to_string(index = False)

In [22]:
print ('4-3-3 in testing')
print (get_best_eval(testing, squad_433))

4-3-3 in testing
Position          Player evol
      GK        A. Meyer    2
      LI        D. Alaba    1
      DF        D. Bowry    2
      DF    Xiao Mingjie    2
      LD    F. Sierralta    2
      CM    L. Coulibaly    2
      CM     Jo√£o Afonso    2
      CM    F. Henr√≠quez    2
      EI    Lee Joon Suk    3
      ST   Park Dong Jin    2
      ED         G. Bale    1

Funcion para decidir el once que mas va a empeorar en un a√±o, por posicion

In [23]:
def get_worst_eval(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['evol'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['evol'].min()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['evol'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'evol']).to_string(index = False)

In [135]:
print ('4-3-3 in testing')
print (get_worst_eval(testing, squad_433))

4-3-3 in testing

KeyError: 'evol'

testing con evol de todos los a√±os

In [149]:
testing['overall_15'] = df15[['overall']]
testing['overall_16'] = df16[['overall']]
testing['overall_17'] = df17[['overall']]
testing['overall_18'] = df18[['overall']]
testing['overall_19'] = df19[['overall']]
testing['overall_20'] = df20[['overall']]

testing.head()

,sofifa_id,short_name,player_positions,overall_15,overall_16,overall_17,overall_18,overall_19,overall_20,overall
0,158023,L. Messi,ED,93.0,94.0,94.0,94.0,94.0,94,93
1,20801,Cristiano Ronaldo,ST,92.0,93.0,93.0,93.0,94.0,93,93
2,190871,Neymar Jr,EI,90.0,90.0,92.0,92.0,92.0,92,93
3,200389,J. Oblak,GK,90.0,90.0,92.0,92.0,91.0,91,90
4,183277,E. Hazard,EI,90.0,90.0,92.0,92.0,91.0,91,91

In [150]:
testing = testing[['sofifa_id','short_name','player_positions','overall_15','overall_16', 'overall_17','overall_18','overall_19','overall_20', 'overall']]
testing.head()

,sofifa_id,short_name,player_positions,overall_15,overall_16,overall_17,overall_18,overall_19,overall_20,overall
0,158023,L. Messi,ED,93.0,94.0,94.0,94.0,94.0,94,93
1,20801,Cristiano Ronaldo,ST,92.0,93.0,93.0,93.0,94.0,93,93
2,190871,Neymar Jr,EI,90.0,90.0,92.0,92.0,92.0,92,93
3,200389,J. Oblak,GK,90.0,90.0,92.0,92.0,91.0,91,90
4,183277,E. Hazard,EI,90.0,90.0,92.0,92.0,91.0,91,91

In [151]:
testing.to_csv("./output/testing2.csv")