In [1]:
import numpy as np
import pandas as pd

In [2]:
f15 = pd.read_csv('./input/players_15.csv',index_col='sofifa_id')
f15.shape

(15465, 103)

In [3]:
f16 = pd.read_csv('./input/players_16.csv',index_col='sofifa_id')
f16.shape

(14881, 103)

In [4]:
f17 = pd.read_csv('./input/players_17.csv',index_col='sofifa_id')
f17.shape

(17009, 103)

In [5]:
f18 = pd.read_csv('./input/players_18.csv',index_col='sofifa_id')
f18.shape

(17592, 103)

In [6]:
f19 = pd.read_csv('./input/players_19.csv',index_col='sofifa_id')
f19.shape

(17770, 103)

In [7]:
f20 = pd.read_csv('./input/players_20.csv',index_col='sofifa_id')
f20.shape

(18278, 103)

In [8]:
f15.head()

,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,93,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,92,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,90,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,90,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
f16.head()

,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,28,1987-06-24,170,72,Argentina,FC Barcelona,94,...,62+3,57+3,57+3,57+3,62+3,57+3,44+3,44+3,44+3,57+3
20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,30,1985-02-05,185,80,Portugal,Real Madrid,93,...,64+3,60+3,60+3,60+3,64+3,60+3,52+3,52+3,52+3,60+3
9014,https://sofifa.com/player/9014/arjen-robben/16...,A. Robben,Arjen Robben,31,1984-01-23,180,80,Netherlands,FC Bayern München,90,...,65+3,60+3,60+3,60+3,65+3,59+3,47+3,47+3,47+3,59+3
167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,29,1986-03-27,193,92,Germany,FC Bayern München,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,28,1987-01-24,182,85,Uruguay,FC Barcelona,90,...,67+3,65+3,65+3,65+3,67+3,64+3,58+3,58+3,58+3,64+3

In [10]:
f15.shape

(15465, 103)

In [11]:
f15.columns.tolist()

['player_url',
 'short_name',
 'long_name',
 'age',
 'dob',
 'height_cm',
 'weight_kg',
 'nationality',
 'club',
 'overall',
 'potential',
 'value_eur',
 'wage_eur',
 'player_positions',
 'preferred_foot',
 'international_reputation',
 'weak_foot',
 'skill_moves',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'team_position',
 'team_jersey_number',
 'loaned_from',
 'joined',
 'contract_valid_until',
 'nation_position',
 'nation_jersey_number',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_reflexes',
 'gk_speed',
 'gk_positioning',
 'player_traits',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb']

In [12]:
'''
sofifa_id                   unique number on sofifa
player_url                  url of the scraped player
short_name                  short name of the player
long_name                   long name of the player
age                         age of the player
dob                         date in which the player was born
height_cm                   height in cm of the player
weight_kg                   weight in kg of the player
nationality                 nationality of the player
club                        club of the player
overall                     overall attribute of the player
potential                   potential attribute of the player
value_eur                   value in EUR of the player
wage_eur                    wage in EUR of the player
player_positions            positions of the player
preferred_foot              preferred foot of the player
international_reputation    international rep attribute
weak_foot                   weak foot attribute
skill_moves                 quality moves attribute
work_rate                   productivity attribute
body_type                   type of body
real_face                   real face
release_clause_eur          release clause in EUR
player_tags                 player tags
team_position               player position in the team
team_jersey_number          player shirt number in the team
loaned_from                 player loaned from
joined                      joined date
contract_valid_until        expiration date
nation_position             player position in the national team
nation_jersey_numberplayer  shirt number in the national team
pace                        player pace
shootingplayer              shooting
passingplayer               passing
dribblingplayer             dribbling
defendingplayer             defending
physicplayer                physic
gk_divinggk                 diving
gk_handlinggk               handling
gk_kickinggk                kicking
gk_reflexesgk               reflexes
gk_speedgk                  speed
gk_position                 inggk positioning
player_traits               player traits
attacking_crossing          player crossing
attacking_finishing         player finishing
attacking_heading_accuracy  player heading
attacking_short_passingp    layer short passing
attacking_volleys           player shot
skill_dribbling             player dribbling
skill_curvep                layer curve
skill_fk_accuracy           player fk accuracy
skill_long_passing          player long passing
skill_ball_control          player ball control
movement_acceleration       player acceleration
movement_sprint_speed       player sprint
movement_agility            player agility
movement_reactions          player reaction
movement_balance            player balance
power_shot_power            player shot power
power_jumpingp              layer jumping
power_staminap              layer stamina
power_strength              player strength
power_long_shots            player long shots
mentality_aggression        player mentality
mentality_interceptionsplayer
mentality_positioning       player positioning
mentality_vision            player vision
mentality_penalties         player penalties
mentality_composure         player composure
defending_marking           player defending
defending_standing_tackle   player standing tackle
defending_sliding_tackle    player sliding tackle
goalkeeping_divinggk        diving
goalkeeping_handlinggk      handling
goalkeeping_kickinggk
goalkeeping_positioninggk   positioning
goalkeeping_reflexesgk      reflexes
ls                          ls value
st                          st value
rs                          rs value
lw                          lw value
lf                          lf value
cf                          cf value
rf                          rf value
rw                          rw value
lam                         lam value
cam                         cam value
ram                         ram value
lm                          lm value
lcm                         lcm value
cm                          cm value
rcm                         rcm value
rm                          rm value
lwb                         lwb value
ldm                         ldm value
cdm                         cdm value
rdm                         rdm value
rwb                         rwb value
lb                          lb value

'''

'\nsofifa_id                   unique number on sofifa\nplayer_url                  url of the scraped player\nshort_name                  short name of the player\nlong_name                   long name of the player\nage                         age of the player\ndob                         date in which the player was born\nheight_cm                   height in cm of the player\nweight_kg                   weight in kg of the player\nnationality                 nationality of the player\nclub                        club of the player\noverall                     overall attribute of the player\npotential                   potential attribute of the player\nvalue_eur                   value in EUR of the player\nwage_eur                    wage in EUR of the player\nplayer_positions            positions of the player\npreferred_foot              preferred foot of the player\ninternational_reputation    international rep attribute\nweak_foot                   weak foot attribute\nskill_moves                 quality moves attribute\nwork_rate                   productivity attribute\nbody_type                   type of body\nreal_face                   real face\nrelease_clause_eur          release clause in EUR\nplayer_tags                 player tags\nteam_position               player position in the team\nteam_jersey_number          player shirt number in the team\nloaned_from                 player loaned from\njoined                      joined date\ncontract_valid_until        expiration date\nnation_position             player position in the national team\nnation_jersey_numberplayer  shirt number in the national team\npace                        player pace\nshootingplayer              shooting\npassingplayer               passing\ndribblingplayer             dribbling\ndefendingplayer             defending\nphysicplayer                physic\ngk_divinggk                 diving\ngk_handlinggk               handling\ngk_kickinggk                kicking\ngk_reflexesgk               reflexes\ngk_speedgk                  speed\ngk_position                 inggk positioning\nplayer_traits               player traits\nattacking_crossing          player crossing\nattacking_finishing         player finishing\nattacking_heading_accuracy  player heading\nattacking_short_passingp    layer short passing\nattacking_volleys           player shot\nskill_dribbling             player dribbling\nskill_curvep                layer curve\nskill_fk_accuracy           player fk accuracy\nskill_long_passing          player long passing\nskill_ball_control          player ball control\nmovement_acceleration       player acceleration\nmovement_sprint_speed       player sprint\nmovement_agility            player agility\nmovement_reactions          player reaction\nmovement_balance            player balance\npower_shot_power            player shot power\npower_jumpingp              layer jumping\npower_staminap              layer stamina\npower_strength              player strength\npower_long_shots            player long shots\nmentality_aggression        player mentality\nmentality_interceptionsplayer\nmentality_positioning       player positioning\nmentality_vision            player vision\nmentality_penalties         player penalties\nmentality_composure         player composure\ndefending_marking           player defending\ndefending_standing_tackle   player standing tackle\ndefending_sliding_tackle    player sliding tackle\ngoalkeeping_divinggk        diving\ngoalkeeping_handlinggk      handling\ngoalkeeping_kickinggk\ngoalkeeping_positioninggk   positioning\ngoalkeeping_reflexesgk      reflexes\nls                          ls value\nst                          st value\nrs                          rs value\nlw                          lw value\nlf                          lf value\ncf                          cf value\nrf                          rf value\nrw                          rw value\nlam                         lam value\ncam                         cam value\nram                         ram value\nlm                          lm value\nlcm                         lcm value\ncm                          cm value\nrcm                         rcm value\nrm                          rm value\nlwb                         lwb value\nldm                         ldm value\ncdm                         cdm value\nrdm                         rdm value\nrwb                         rwb value\nlb                          lb value\n\n'

<img src="./input/posiciones_fifa.jpg">

In [13]:
f15.isnull().sum()[f15.isnull().sum() != 0]

release_clause_eur      15465
player_tags             14271
team_position             232
team_jersey_number        232
loaned_from             14553
joined                   1151
contract_valid_until      239
nation_position         14409
nation_jersey_number    14409
pace                     1703
shooting                 1703
passing                  1703
dribbling                1703
defending                1703
physic                   1703
gk_diving               13762
gk_handling             13762
gk_kicking              13762
gk_reflexes             13762
gk_speed                13762
gk_positioning          13762
player_traits            9082
mentality_composure     15465
ls                       1703
st                       1703
rs                       1703
lw                       1703
lf                       1703
cf                       1703
rf                       1703
rw                       1703
lam                      1703
cam                      1703
ram                      1703
lm                       1703
lcm                      1703
cm                       1703
rcm                      1703
rm                       1703
lwb                      1703
ldm                      1703
cdm                      1703
rdm                      1703
rwb                      1703
lb                       1703
lcb                      1703
cb                       1703
rcb                      1703
rb                       1703
dtype: int64

In [14]:
cara=f15['real_face']
cara.value_counts()

No     14683
Yes      782
Name: real_face, dtype: int64

In [15]:
cara=f18['real_face']
cara.value_counts()

No     16360
Yes     1232
Name: real_face, dtype: int64

In [16]:
f15['potential'].unique()

array([95, 92, 90, 91, 88, 89, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77,
       76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60,
       59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 43, 40])

## Junto los df 15, 16, 17, 18, 19

**añado una columna 'year' para saber en que df esta el jugador**

In [17]:
f15['year'] = 15
f16['year'] = 16
f17['year'] = 17
f18['year'] = 18
f19['year'] = 19
f20['year'] = 20
f15.head()

,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,93,...,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15
20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,92,...,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,15
9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,90,...,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,15
41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,90,...,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,15
167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15

uno los 5 df

In [18]:
frames = [f15, f16, f17, f18, f19]
fifa = pd.concat(frames)

In [19]:
fifa

,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,93,...,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15
20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,92,...,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,15
9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,90,...,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,15
41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,90,...,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,15
167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238985,https://sofifa.com/player/238985/pierce-philli...,P. Phillips,Pierce Phillips,19,1998-09-28,180,72,Republic of Ireland,Cork City,47,...,48+2,48+2,48+2,46+2,46+2,48+2,48+2,48+2,46+2,19
240160,https://sofifa.com/player/240160/alexander-kal...,A. Kaltner,Alexander Kaltner,18,1999-10-24,178,75,Germany,SpVgg Unterhaching,47,...,34+2,34+2,34+2,38+2,36+2,32+2,32+2,32+2,36+2,19
241304,https://sofifa.com/player/241304/junliang-ma/1...,Ma Junliang,马俊亮,20,1998-03-02,181,64,China PR,Guangzhou R&F FC,47,...,46+2,46+2,46+2,49+2,49+2,46+2,46+2,46+2,49+2,19
240158,https://sofifa.com/player/240158/christoph-ehl...,C. Ehlich,Christoph Ehlich,19,1999-02-02,179,73,Germany,SpVgg Unterhaching,47,...,41+2,41+2,41+2,46+2,45+2,44+2,44+2,44+2,45+2,19
243961,https://sofifa.com/player/243961/evan-tweed/19...,E. Tweed,Evan Tweed,19,1999-03-01,180,72,Republic of Ireland,Derry City,47,...,46+2,46+2,46+2,45+2,46+2,46+2,46+2,46+2,46+2,19

In [20]:
fifa.shape

(82717, 104)

## Vamos a limpiar

borro las columnas que no me aportan nada

In [22]:
f = fifa.drop(['player_url', 'short_name','long_name', 'dob', 'real_face',
                  'team_position','team_jersey_number','loaned_from','joined',
                  'contract_valid_until','nation_position','nation_jersey_number',
                  'player_traits','mentality_composure',
                  'body_type','player_tags','release_clause_eur'], axis=1)
f.shape

(82717, 87)

In [23]:
f.head()

,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,27,169,67,Argentina,FC Barcelona,93,95,0,0,CF,...,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15
20801,29,185,80,Portugal,Real Madrid,92,92,0,0,"LW, LM",...,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,15
9014,30,180,80,Netherlands,FC Bayern München,90,90,0,0,"RM, LM, RW",...,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,15
41236,32,195,95,Sweden,Paris Saint-Germain,90,90,0,0,ST,...,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,15
167495,28,193,92,Germany,FC Bayern München,90,90,0,0,GK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15

In [236]:
f = f.sort_values(by='sofifa_id', ascending=True)
f.head()

,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
2,32,181,82,Italy,Udinese,68,68,0,0,LM,...,69+0,69+0,69+0,71+0,72+0,70+0,70+0,70+0,72+0,15
2,33,182,72,Italy,Udinese,69,69,625000,6000,LM,...,71+0,71+0,71+0,72+0,72+0,71+0,71+0,71+0,72+0,16
164,35,180,76,Italy,Brescia,73,73,975000,1000,"CM, CDM",...,73+1,73+1,73+1,71+1,71+1,72+1,72+1,72+1,71+1,17
164,37,180,76,Italy,Padova,70,70,240000,2000,"CDM, CM",...,69+2,69+2,69+2,68+2,67+2,69+2,69+2,69+2,67+2,19
164,33,180,73,Italy,Udinese,74,74,0,0,"CDM, CM",...,74+0,74+0,74+0,72+0,72+0,71+0,71+0,71+0,72+0,15

**columna 'club'**

In [237]:
f['club'].value_counts()

Arsenal              164
Southampton          163
Leicester City       163
Tottenham Hotspur    162
West Ham United      162
                    ...
BB Erzurumspor         1
Halmstads BK           1
Galway United          1
Netherlands            1
Turkey                 1
Name: club, Length: 868, dtype: int64

In [238]:
list(f['club'].unique())

['Udinese',
 'Brescia',
 'Padova',
 'LA Galaxy',
 'Stevenage',
 'Colchester United',
 'Helsingborgs IF',
 'Notts County',
 'Nottingham Forest',
 'Chelsea',
 'Leicester City',
 'SPAL',
 'Parma',
 'Grimsby Town',
 'Leyton Orient',
 'Bradford City',
 'Fulham',
 'Hungary',
 'Montreal Impact',
 'Sassuolo',
 'Juventus',
 'Paris Saint-Germain',
 'Bari',
 'Hamilton Academical FC',
 'Milan',
 'Roma',
 'SV Sandhausen',
 'Borussia Mönchengladbach',
 'New York Red Bulls',
 'Hellas Verona',
 'River Plate',
 'Grasshopper Club Zürich',
 'AS Nancy Lorraine',
 'Everton',
 'Southampton',
 'AS Monaco',
 'TSV 1860 München',
 'Brøndby IF',
 'Newcastle Jets',
 'Borussia Dortmund',
 'Bolton Wanderers',
 'CE Sabadell FC',
 'Bristol City',
 'Rochdale',
 'Rangers FC',
 'SL Benfica',
 'Aston Villa',
 'Stoke City',
 'Morecambe',
 'Trabzonspor',
 'Newport County',
 'Cruz Azul',
 'AD Alcorcón',
 'Os Belenenses',
 'Gil Vicente FC',
 'Rio Ave FC',
 'Queens Park Rangers',
 'SD Ponferradina',
 'Sunderland',
 'Reading',
 'Portugal',
 'ESTAC Troyes',
 'Boavista FC',
 'Estoril Praia',
 'Atlético Madrid',
 'Cork City',
 'Exeter City',
 'CD Cobresal',
 'Heart of Midlothian',
 'Partick Thistle FC',
 'FC Dallas',
 'Hartlepool United',
 'Cambridge United',
 'GFC Ajaccio',
 'Évian Thonon Gaillard FC',
 'Latina',
 'Sampdoria',
 'Le Havre AC',
 'Aberdeen',
 'IK Start',
 'Racing Club de Lens',
 'Oud-Heverlee Leuven',
 'Chievo Verona',
 'Valenciennes FC',
 'Walsall',
 'KV Oostende',
 'Manchester City',
 'New York City FC',
 'FC Porto',
 'Real Madrid',
 'Stade Malherbe Caen',
 'Empoli',
 'Moreirense FC',
 'West Bromwich Albion',
 'FC Augsburg',
 'Liverpool',
 'FC Paços de Ferreira',
 'SV Grödig',
 'Torino',
 'Atalanta',
 'Bournemouth',
 'Livorno',
 'Varese',
 'Bologna',
 'Feyenoord',
 'Fenerbahçe SK',
 'Manchester United',
 'Cheltenham Town',
 'NEC Nijmegen',
 'Wigan Athletic',
 'West Ham United',
 'CD Aves',
 'Vitória de Setúbal',
 'FC Penafiel',
 'Arsenal',
 'Czech Republic',
 'Sparta Praha',
 'Portimonense SC',
 'Aarhus GF',
 'AIK',
 'Deportivo de La Coruña',
 'FC Bayern München',
 'Antalyaspor',
 'NAC Breda',
 'Perth Glory',
 'Sparta Rotterdam',
 'PEC Zwolle',
 'Ajax',
 'Mjällby AIF',
 'IF Elfsborg',
 'FC Barcelona',
 'Levante UD',
 'Rubin Kazan',
 'FC Rostov',
 'FC Nordsjælland',
 'Palermo',
 'Sheffield United',
 'Crewe Alexandra',
 'Lazio',
 'St. Mirren',
 'Blackpool',
 'Bristol Rovers',
 'Scunthorpe United',
 'Burnley',
 'Bury',
 'Lincoln City',
 'Doncaster Rovers',
 'Korona Kielce',
 'Wycombe Wanderers',
 'Oldham Athletic',
 'FC Metz',
 'Yeovil Town',
 'Derby County',
 'Rotherham United',
 'Preston North End',
 'Tottenham Hotspur',
 'SpVgg Greuther Fürth',
 'Fiorentina',
 'Nîmes Olympique',
 'LASK Linz',
 'Columbus Crew SC',
 '1. FC Union Berlin',
 'FC Arouca',
 'CF Reus Deportiu',
 'Portsmouth',
 'Çaykur Rizespor',
 'Akhisar Belediyespor',
 'Crystal Palace',
 'Shamrock Rovers',
 'Sheffield Wednesday',
 'Cardiff City',
 'Macclesfield Town',
 'Blackburn Rovers',
 'Carlisle United',
 'Motherwell',
 'Pescara',
 'Foggia',
 'Atlético Nacional',
 'Willem II',
 'Molde FK',
 'Heracles Almelo',
 'Real Salt Lake',
 'Southend United',
 'Leeds United',
 'Waterford FC',
 'Colorado Rapids',
 'Finland',
 'Club Brugge KV',
 'Northern Ireland',
 'Melbourne City FC',
 'Brighton & Hove Albion',
 'Sint-Truidense VV',
 'Sporting de Charleroi',
 'Kristiansund BK',
 'Stabæk Fotball',
 'Randers FC',
 'Peterborough United',
 'Luton Town',
 'Tranmere Rovers',
 'Panathinaikos FC',
 'Olympique Lyonnais',
 'Burton Albion',
 'Northampton Town',
 'Kilmarnock',
 'Millwall',
 'Gillingham',
 'Crawley Town',
 'Mansfield Town',
 'Chesterfield',
 'Wisła Kraków',
 'Shrewsbury',
 'Bohemian FC',
 'Huddersfield Town',
 'Middlesbrough',
 'UD Las Palmas',
 'BSC Young Boys',
 'Neuchâtel Xamax',
 'SK Brann',
 'PAOK',
 'FC Luzern',
 'CD Tondela',
 'Olympiacos CFP',
 'Sligo Rovers',
 'União da Madeira',
 'Clube Sport Marítimo',
 'Djurgårdens IF',
 'Kasimpaşa SK',
 'SC Braga',
 'Jönköpings Södra IF',
 'Hammarby IF',
 'Beşiktaş JK',
 'Audax Italiano',
 'Zenit St. Petersburg',
 'Canada',
 'FC Basel 1893',
 'Hull City',
 'Newcastle United',
 'IFK Norrköping',
 'Universidad de Chile',
 'Santiago Wanderers',
 'Colombia',
 'San Lorenzo de Almagro',
 'Napoli',
 'En Avant de Guingamp',
 'FC København',
 'SV Werder Bremen',
 'Paraguay',
 'Málaga CF',
 'Club Atlas',
 'Go Ahead Eagles',
 'Excelsior',
 'Celtic',
 'Fleetwood Town',
 'Querétaro',
 'FC Emmen',
 'FC Groningen',
 'Suwon Samsung Bluewings',
 'Hokkaido Consadole Sapporo',
 'Swansea City',
 'Yokohama F. Marinos',
 'Júbilo Iwata',
 'DSC Arminia Bielefeld',
 'Esbjerg fB',
 'Coventry City',
 'Seattle Sounders FC',
 'Spartak Moscow',
 'Odds BK',
 "Newell's Old Boys",
 'Sarpsborg 08 FF',
 'Strømsgodset IF',
 'Malmö FF',
 'Jeonbuk Hyundai Motors',
 'FK Haugesund',
 'Viking FK',
 'Melbourne Victory',
 'Limerick FC',
 'Houston Dynamo',
 'Chivas USA',
 'OGC Nice',
 'AJ Auxerre',
 'Stade Rennais FC',
 'Toronto FC',
 'Olympique de Marseille',
 'AC Arles Avignon',
 'FC Lorient',
 'AC Ajaccio',
 'FC Midtjylland',
 'Ascoli',
 'Cesena',
 'Ross County FC',
 'Real Betis',
 'Vålerenga Fotball',
 'Royal Excel Mouscron',
 'KAA Gent',
 'Vicenza',
 'Atiker Konyaspor',
 'FC Erzgebirge Aue',
 'KSV Cercle Brugge',
 'FC Vestsjælland',
 'IFK Göteborg',
 'Sweden',
 'Aalborg BK',
 'Hamburger SV',
 'Villarreal CF',
 'Perugia',
 'Clermont Foot 63',
 'Virtus Entella',
 'Wolfsberger AC',
 'BK Häcken',
 'Dinamo Moscow',
 'DC United',
 'FSV Frankfurt',
 'Silkeborg IF',
 'Tromsø IL',
 'Rosenborg BK',
 'VfL Bochum 1848',
 'HJK Helsinki',
 'RSC Anderlecht',
 'FC Thun',
 'FC St. Gallen',
 'RC Strasbourg Alsace',
 '1. FC Nürnberg',
 'FC Admira Wacker Mödling',
 'TSG 1899 Hoffenheim',
 'Hannover 96',
 'Uruguay',
 'FC Sion',
 'Sporting Lokeren',
 'St. Johnstone FC',
 'Dundee FC',
 'Sagan Tosu',
 'Hertha BSC',
 'Angers SCO',
 'Rosario Central',
 'Toulouse Football Club',
 'FK Bodø/Glimt',
 'Lillestrøm SK',
 'Sandnes Ulf',
 'IF Brommapojkarna',
 'Falkenbergs FF',
 'KRC Genk',
 'Standard de Liège',
 'Hobro IK',
 'Chicago Fire',
 'San Jose Earthquakes',
 'Sporting Kansas City',
 'FC Zürich',
 'SV Mattersburg',
 'Montpellier HSC',
 'Red Star FC',
 'CD Numancia',
 'Ranheim Fotball',
 'Milton Keynes Dons',
 'Sydney FC',
 'Terek Grozny',
 'La Berrichonne de Châteauroux',
 'Venezia FC',
 'Amiens SC',
 'Watford',
 'Australia',
 'Dijon FCO',
 'Avellino',
 'Brisbane Roar',
 'UD Almería',
 'Stade Brestois 29',
 'FC St. Pauli',
 'LOSC Lille',
 'FK Austria Wien',
 'SønderjyskE',
 'FC Lugano',
 '1. FC Köln',
 'FC Schalke 04',
 'Philadelphia Union',
 'FC Lausanne-Sport',
 'Sivasspor',
 'SD Huesca',
 'Real Zaragoza',
 'SC Paderborn 07',
 'Sevilla FC',
 'Charlton Athletic',
 'Medipol Başakşehir FK',
 'SK Rapid Wien',
 'AFC Wimbledon',
 'Wolverhampton Wanderers',
 'Galatasaray SK',
 'Norwich City',
 'Royal Antwerp FC',
 'Finn Harps',
 'Derry City',
 'Birmingham City',
 'Swindon Town',
 'Port Vale',
 'Central Coast Mariners',
 'Brentford',
 'Forest Green Rovers',
 'Fortuna Düsseldorf',
 'Eintracht Frankfurt',
 'SV Darmstadt 98',
 'Inter',
 'Arka Gdynia',
 'Ipswich Town',
 'Orlando City SC',
 'SD Eibar',
 'MSV Duisburg',
 'VfL Sportfreunde Lotte',
 'Frosinone',
 'Cagliari',
 'Spezia',
 'Incheon United FC',
 'KAS Eupen',
 'SC Wiener Neustadt',
 'Sporting CP',
 'Leones Negros de la UdeG',
 'Catania',
 'SpVgg Unterhaching',
 'KV Mechelen',
 'Colo-Colo',
 'PFC CSKA Moscow',
 'Mjøndalen IF',
 'Trapani',
 'Pogoń Szczecin',
 'Eintracht Braunschweig',
 'Athletic Club de Bilbao',
 'Piast Gliwice',
 'Lecce',
 'Podbeskidzie Bielsko-Biała',
 'Legia Warszawa',
 'Bilbao Athletic',
 'Fortaleza CEIF',
 'Genoa',
 'FC Sochaux-Montbéliard',
 'Stade de Reims',
 'FC Nantes',
 'FC Ufa',
 'Rayo Vallecano',
 'Elche CF',
 'Deportivo Alavés',
 'Real Oviedo',
 'RC Celta',
 'CD Lugo',
 'Gimnàstic de Tarragona',
 'Alanyaspor',
 'FC Red Bull Salzburg',
 'Beijing Sinobo Guoan FC',
 'RCD Mallorca',
 'Cádiz CF',
 'Real Sociedad',
 'Real Valladolid CF',
 'CA Osasuna',
 'Girona FC',
 'Córdoba CF',
 'Lorca FC',
 'RCD Espanyol',
 'SC Freiburg',
 'Plymouth Argyle',
 'FC Girondins de Bordeaux',
 'AS Saint-Étienne',
 'CD Mirandés',
 'Real Sporting de Gijón',
 'UE Llagostera',
 'FC Würzburger Kickers',
 'Tours FC',
 'New England Revolution',
 'Crotone',
 'Deportivo San Marcos de Arica',
 'Albacete BP',
 'CD Tenerife',
 'VfL Wolfsburg',
 'Puebla FC',
 'Jaguares de Chiapas',
 'Independiente Medellín',
 '1. FSV Mainz 05',
 'Chamois Niortais Football Club',
 'Gaziantepspor',
 'Livingston FC',
 'Drogheda United',
 'Atlanta United',
 'Benevento',
 'Oxford United',
 'RB Leipzig',
 'Bayer 04 Leverkusen',
 'SK Sturm Graz',
 'SC Fortuna Köln',
 'Holstein Kiel',
 'FSV Zwickau',
 'VfR Aalen',
 'Hibernian',
 'FC Ingolstadt 04',
 'Roda JC Kerkrade',
 'Lierse SK',
 'Novara',
 'Al Ittihad',
 'Turkey',
 'Eskişehirspor',
 'Göztepe SK',
 'Osmanlıspor',
 'Mersin İdman Yurdu',
 'Gençlerbirliği SK',
 'Adelaide United',
 'Kardemir Karabükspor',
 'Kayserispor',
 'Lyngby BK',
 'FC Rot-Weiß Erfurt',
 'FC Twente',
 'CD Nacional',
 "CD O'Higgins",
 'Getafe CF',
 'Al Ahli',
 'Granada CF',
 'Santa Clara',
 'Al Faisaly',
 'Ulsan Hyundai FC',
 'FC Seoul',
 'GwangJu FC',
 'Gangwon FC',
 'Jeonnam Dragons',
 'Gyeongnam FC',
 'Korea Republic',
 'PSV',
 'SC Heerenveen',
 'US Salernitana 1919',
 'FC Pro Vercelli 1892',
 'Football Bourg En Bresse Peronnas 01',
 'KV Kortrijk',
 'SV Zulte-Waregem',
 'Al Raed',
 'US Cremonese',
 'Vitesse',
 'SKN St. Pölten',
 'SV Werder Bremen II',
 '1. FC Magdeburg',
 'FC Utrecht',
 'Karlsruher SC',
 '1. FC Kaiserslautern',
 'Carpi',
 'SS Virtus Lanciano',
 'Portland Timbers',
 'Accrington Stanley',
 'AC Horsens',
 'Odense Boldklub',
 'Tigres U.A.N.L.',
 'Górnik Zabrze',
 'Al Taawoun',
 'AZ Alkmaar',
 'Shandong Luneng TaiShan FC',
 'Viktoria Plzeň',
 'Club Atlético Aldosivi',
 'Club Atlético Sarmiento',
 'Associação Académica de Coimbra',
 'Ternana',
 'CD Feirense',
 'FC Anzhi Makhachkala',
 'Santos Laguna',
 'Guadalajara',
 'U.N.A.M.',
 'Boyacá Chicó FC',
 'Arsenal de Sarandí',
 'Deportivo Cali',
 'Club Atlético Colón',
 'Independiente Santa Fe',
 'Patriotas Boyacá FC',
 'Valencia CF',
 'Monterrey',
 'Club Atlético Banfield',
 'Independiente',
 'Club Tijuana',
 'Dorados de Sinaloa',
 'Club León',
 'La Equidad',
 'Jeju United FC',
 'Lobos BUAP',
 'Gefle IF',
 'Gimnasia y Esgrima La Plata',
 'Club Atlético Lanús',
 'CD Leganés',
 'Rionegro Águilas',
 'Monarcas Morelia',
 'Egypt',
 'Shakhtar Donetsk',
 'Pachuca',
 'Vegalta Sendai',
 'Ventforet Kofu',
 'Deportivo Toluca',
 'Club Necaxa',
 'Kashima Antlers',
 'Nagoya Grampus',
 'Gamba Osaka',
 'FC Tokyo',
 'Kawasaki Frontale',
 'Boca Juniors',
 'Tiburones Rojos de Veracruz',
 'Vitória Guimarães',
 'Dundalk',
 'Bray Wanderers',
 'CD Universidad de Concepción',
 'Kalmar FF',
 'Amkar Perm',
 'FC Wacker Innsbruck',
 'Bulgaria',
 'FC Orenburg',
 'Sanfrecce Hiroshima',
 'Argentinos Juniors',
 'Al Fayha',
 'CF Rayo Majadahonda',
 'Jagiellonia Białystok',
 'Club Atlético Huracán',
 'Estudiantes de La Plata',
 'Atlético de Rafaela',
 'Unión Española',
 'Universidad Católica',
 'Club Atlético Talleres',
 'Deportivo Pasto',
 'Cúcuta Deportivo',
 'Quilmes Atlético Club',
 'Crucero del Norte',
 'Racing Club',
 'Envigado FC',
 'Club Atlético Temperley',
 'Hebei China Fortune FC',
 'Unión de Santa Fe',
 'Club Atlético Tigre',
 'San Martín de San Juan',
 'Club Olimpo',
 'Vélez Sarsfield',
 'Defensa y Justicia',
 'Once Caldas',
 'Nueva Chicago',
 'AC Barnechea',
 'Belgrano de Córdoba',
 'Atlético Tucumán',
 'Uniautónoma FC',
 'Patronato',
 'Unión La Calera',
 'América de Cali',
 'Deportes Iquique',
 'Peru',
 'CD Cobreloa',
 'Chacarita Juniors',
 'Balıkesirspor',
 'MKE Ankaragücü',
 'Yeni Malatyaspor',
 'SV Ried',
 'Bursaspor',
 'Racing Santander',
 'UCAM Murcia CF',
 'Shimizu S-Pulse',
 'CD Huachipato',
 'FC Krasnodar',
 'Suwon FC',
 'Mordovia Saransk',
 'Torpedo Moscow',
 'Arsenal Tula',
 'Kuban Krasnodar',
 'FC Tom Tomsk',
 'FC Ural Yekaterinburg',
 'Lokomotiv Moscow',
 'FC Tosno',
 'Romania',
 'Lechia Gdańsk',
 'Śląsk Wrocław',
 'Sandecja Nowy Sącz',
 'GKS Bełchatów',
 'Górnik Łęczna',
 'Al Hilal',
 'Lech Poznań',
 'ADO Den Haag',
 "St. Patrick's Athletic",
 'VfB Stuttgart',
 'Vissel Kobe',
 'Paris FC',
 'SCR Altach',
 'Henan Jianye FC',
 'IK Sirius',
 'Minnesota United FC',
 'Club América',
 'Miedź Legnica',
 'Bolivia',
 'Venezuela',
 'Al Qadisiyah',
 'Cracovia',
 'Bruk-Bet Termalica Nieciecza',
 'Wisła Płock',
 'Pohang Steelers',
 'Sangju Sangmu FC',
 'Daegu FC',
 'Al Shabab',
 'Barnsley',
 ' SSV Jahn Regensburg',
 'Urawa Red Diamonds',
 'Cerezo Osaka',
 "Côte d'Ivoire",
 'FC Dordrecht',
 'Sogndal Fotball',
 'Ecuador',
 'Cultural Leonesa',
 'Athlone Town',
 'Chile',
 'Pisa',
 'China PR',
 'Guangzhou Evergrande Taobao FC',
 'Beijing Renhe FC',
 'CD Antofagasta',
 'San Martin de Tucumán',
 'Poland',
 'San Luis de Quillota',
 'SV Meppen',
 'Örebro SK',
 'Curicó Unido',
 'Kaizer Chiefs',
 'Al Fateh',
 'CD Palestino',
 'CD Everton de Viña del Mar',
 'Club Deportes Temuco',
 'Deportes Tolima',
 'Krylya Sovetov Samara',
 'Iceland',
 'SKA Khabarovsk',
 'US Quevilly Rouen Métropole',
 'Junior FC',
 'Waasland-Beveren',
 'Zagłębie Lubin',
 'Cittadella',
 'Changchun Yatai FC',
 'Al Nassr',
 'Al Khaleej',
 'Slovenia',
 'Vendsyssel FF',
 'Hajer',
 'Sporting Club de Bastia',
 'New Zealand',
 'Italy',
 'Vancouver Whitecaps FC',
 'AFC Eskilstuna',
 'VVV-Venlo',
 'Wales',
 'Jiangsu Suning FC',
 'Los Angeles FC',
 'Orlando Pirates',
 'Alianza Petrolera',
 'Al Orobah',
 'Al Wehda',
 'Shanghai Greenland Shenhua FC',
 'Brazil',
 'SV Wehen Wiesbaden',
 'Norway',
 'Omiya Ardija',
 'TSV Hartberg',
 'SG Dynamo Dresden',
 'Wellington Phoenix',
 'Ettifaq FC',
 'Inverness Caledonian Thistle',
 'Tianjin TEDA FC',
 'Grenoble Foot 38',
 '1. FC Heidenheim 1846',
 'Chemnitzer FC',
 'FC Energie Cottbus',
 'Cameroon',
 'Godoy Cruz',
 'Extremadura UD',
 'FC Helsingør',
 'AEK Athens',
 'Greece',
 'Avispa Fukuoka',
 'Albirex Niigata',
 'India',
 'Zagłębie Sosnowiec',
 'Atlético Bucaramanga',
 'Tianjin Quanjian FC',
 'SG Sonnenhof Großaspach',
 'Guangzhou R&F FC',
 'Atlético Huila',
 'VfL Osnabrück',
 'Millonarios FC',
 'Cortuluá',
 'Jaguares de Córdoba',
 'Östersunds FK',
 'KFC Uerdingen 05',
 'Dalkurd FF',
 'South Africa',
 'Belgium',
 'FC Hansa Rostock',
 'FC Vaduz',
 'Como',
 'Cosenza',
 'KVC Westerlo',
 'Netherlands',
 'Dinamo Zagreb',
 'Western Sydney Wanderers',
 'Adanaspor',
 'BB Erzurumspor',
 'Chongqing Dangdai Lifan FC SWM Team',
 'Al Shoulla',
 'SK Slavia Praha',
 'Kashiwa Reysol',
 'Shanghai SIPG FC',
 'Russia',
 'UCD AFC',
 'Dalian YiFang FC',
 'GD Chaves',
 'SC Preußen Münster',
 'Ohod Club',
 'Aalesunds FK',
 'V-Varen Nagasaki',
 'FC Carl Zeiss Jena',
 'Argentina',
 'Seongnam FC',
 'Deportivo Ñublense',
 'Dynamo Kyiv',
 'Al Batin',
 'Tigres FC',
 'SC Cambuur',
 'AS Béziers',
 'Austria',
 'Modena',
 'Sandefjord Fotball',
 'Najran SC',
 'Switzerland',
 'Dundee United',
 'Hallescher FC',
 'Shonan Bellmare',
 'Wexford Youths',
 'Al Hazem',
 'FC Barcelona B',
 'Åtvidabergs FF',
 'Kayseri Erciyesspor',
 'Fortuna Sittard',
 'De Graafschap',
 'Sevilla Atlético',
 'Itagüí Leones FC',
 'Stade Lavallois Mayenne FC',
 'Dagenham and Redbridge',
 'Barnet',
 'Ruch Chorzów',
 'Daejeon Citizen',
 'Busan IPark',
 'Trelleborgs FF',
 'GIF Sundsvall',
 'York City',
 'US Orléans Loiret Football',
 'Chapecoense',
 'América FC (Minas Gerais)',
 'Paraná',
 'Cruzeiro',
 'Atlético Paranaense',
 'Atlético Mineiro',
 'Bahia',
 'Sport Club do Recife',
 'Grêmio',
 'Santos',
 'Ceará Sporting Club',
 'Botafogo',
 'Vitória',
 'Atlético Clube Goianiense',
 'Ponte Preta',
 'Coritiba',
 'Avaí FC',
 'São Paulo',
 'Internacional',
 'Palmeiras',
 'Fluminense',
 'Figueirense',
 'Santa Cruz',
 'Joinville',
 'Criciúma',
 'Goiás',
 'Halmstads BK',
 'Galway United',
 'Guizhou Hengfeng FC']

voy a clasificar los clubes, saco los datos de aqui : https://www.clubworldranking.com/espanol/clubes/top-250-de-todos-los-tiempos

In [239]:
e1 = ['FC Barcelona','Real Madrid','FC Bayern München','Atlético Madrid','Juventus',
      'Manchester City','Chelsea','Sevilla FC','Liverpool','Manchester United',
      'Grêmio','Arsenal','Valencia CF','Paris Saint-Germain','Borussia Dortmund',
      'Napoli','Tottenham Hotspur','SL Benfica','River Plate','Boca Juniors','FC Porto',
      'Jeonbuk Hyundai Motors','Athletic Club de Bilbao','Palmeiras','Santos',
      'Atlético Mineiro','Shakhtar Donetsk','Al Hilal','Roma','São Paulo','Cruzeiro',
      'Villarreal CF','Bayer 04 Leverkusen','FC Seoul','Lazio','Inter','Ulsan Hyundai FC',
      'FC Schalke 04','Atlético Paranaense','Olympique Lyonnais','Internacional',
      'Zenit St. Petersburg','Tigres U.A.N.L.','Monterrey','Suwon Samsung Bluewings',
      'Ajax','Fluminense','Al Ahli','Everton','Milan']

e2 =['Real Sociedad','Sporting CP','Club Atlético Lanús',
      'Borussia Mönchengladbach', 'VfL Wolfsburg','Guangzhou Evergrande Taobao FC',
      'San Lorenzo de Almagro','Dinamo Moscow','Pohang Steelers',
      'América FC (Minas Gerais)','Vélez Sarsfield','Racing Club','RCD Espanyol',
      'Independiente','Fiorentina','Olympiacos CFP','PFC CSKA Moscow',
      'Santos Laguna','Atlético Nacional','FC Basel 1893','Olympique de Marseille',
      'Botafogo','Eintracht Frankfurt','Estudiantes de La Plata','Getafe CF','Al Nassr',
      'PSV','FC Red Bull Salzburg','Al Ittihad','RC Celta','Real Betis','Kashima Antlers',
      'Levante UD','Atalanta','Celtic','FC Krasnodar','Cruz Azul','Jeju United FC',
      'LOSC Lille','Fenerbahçe SK','Lokomotiv Moscow','Leicester City',
      'Udinese','AS Monaco','Pachuca','Godoy Cruz','AS Saint-Étienne','RSC Anderlecht',
      'FC Girondins de Bordeaux','Swansea City']

e3 = ['TSG 1899 Hoffenheim',"Newell's Old Boys",'Rosario Central','Independiente Santa Fe',
      'Stade Rennais FC','PAOK','Málaga CF','AZ Alkmaar','Club León','Bahia',
      'Viktoria Plzeň','Junior FC','Panathinaikos FC','Shanghai SIPG FC','Galatasaray SK',
      'Spartak Moscow','Al Shabab','Beşiktaş JK','Newcastle United',
      '1. FSV Mainz 05','KRC Genk','Coritiba','SV Werder Bremen',
      'Feyenoord','Standard de Liège','Sampdoria','Bologna',
      'OGC Nice','Torino','SK Rapid Wien','SC Braga','Rubin Kazan','Vitória Guimarães',
      'Southampton','West Ham United','Argentinos Juniors','Shandong Luneng TaiShan FC',
      'RB Leipzig','Gimnasia y Esgrima La Plata','Urawa Red Diamonds','Stoke City',
      'Yokohama F. Marinos','BSC Young Boys','Hertha BSC','VfB Stuttgart',
      'Trabzonspor','Genoa','Catania','SD Eibar','Bari']

e4 = ['Guadalajara','Club Atlético Tigre','Deportes Tolima','SC Freiburg','Montpellier HSC',
      'Seongnam FC','Club Atlético Colón','Deportivo Toluca',
      'Kashiwa Reysol','Querétaro','Jeonnam Dragons','Incheon United FC',
      'Beijing Sinobo Guoan FC','Sanfrecce Hiroshima','Club Tijuana','Club Atlético Huracán',
      'Club Atlas','Club Atlético Banfield','Sport Club do Recife','Granada CF','Crystal Palace',
      'Millonarios FC','Daegu FC','West Bromwich Albion','Malmö FF','Rosenborg BK',
      'Cagliari','Clube Sport Marítimo','Atlético Tucumán','Cerezo Osaka',
      'Rayo Vallecano','Jiangsu Suning FC','Vitesse','Hamburger SV','FC Twente',
      'Gyeongnam FC','FC Midtjylland','Seattle Sounders FC','Ponte Preta','Molde FK',
      'Puebla FC','Sangju Sangmu FC','Chievo Verona','FC Utrecht','Nagoya Grampus',
      'Sassuolo','Toulouse Football Club','Parma','Club Brugge KV','Middlesbrough']

e5 = ['Padova','Brescia','LA Galaxy','Fulham','Bristol City','Rangers FC','Aston Villa',
      'Boavista FC','Racing Club de Lens','Valenciennes FC','Walsall','Nottingham Forest',
      'Deportivo de La Coruña','Palermo','Sheffield United','St. Mirren','Blackpool',
      'Bristol Rovers','Scunthorpe United','Burnley','Bury','Lincoln City',
      'Doncaster Rovers','Sheffield Wednesday','Cardiff City','Macclesfield Town',
      'Blackburn Rovers','Carlisle United','Motherwell','Foggia','Pescara','Willem II',
      'AEK Athens','Frosinone','Fortuna Düsseldorf','Lecce','CD Leganés','Internacional',
      'New York Red Bulls','TSV 1860 München','Bolton Wanderers','Queens Park Rangers',
      'FC Dallas','Real Salt Lake','Leeds United','Southend United','Waterford FC',
      'Real Valladolid CF','CA Osasuna','FC Metz']

e6 = ['Stevenage','Colchester United','Helsingborgs IF','Notts County','SPAL',
      'Leyton Orient','Bradford City','Grimsby Town','Colorado Rapids',
      'Finland','Stade de Reims','FC Nantes','Wycombe Wanderers','Oldham Athletic',
      'Yeovil Town','Derby County','Rotherham United','New York City FC',
      'Stade Malherbe Caen','Empoli','Moreirense FC','FC Paços de Ferreira','SV Grödig',
      'Bournemouth','Livorno','Varese','Cheltenham Town','NEC Nijmegen','Wigan Athletic',
      'CD Aves','Vitória de Setúbal','FC Penafiel','Czech Republic','Sparta Praha',
      'Portimonense SC','Hull City','Deportivo Alavés','1. FC Kaiserslautern',
      'SK Sturm Graz','SC Fortuna Köln','Karlsruher SC','Sunderland','Reading',
      'AJ Auxerre','Los Angeles FC','1. FC Köln','RCD Mallorca',
      'Brøndby IF','Hellas Verona','AS Nancy Lorraine']

e7 = ['AD Alcorcón','UD Las Palmas','Elche CF','Real Oviedo','Newcastle Jets',
      'Bilbao Athletic','CD Lugo','Gimnàstic de Tarragona','Alanyaspor',
      'Cádiz CF','Girona FC','Córdoba CF','Orlando Pirates','Lorca FC','Plymouth Argyle',
      'CD Mirandés','Real Sporting de Gijón','UE Llagostera','SD Ponferradina',
      'Cork City','Exeter City','CE Sabadell FC','Portsmouth','CF Rayo Majadahonda',
      'Racing Santander','UCAM Murcia CF','Spezia','Colo-Colo','Crotone',
      'Atlanta United','Benevento','Oxford United','SD Huesca','UD Almería',
      'Real Zaragoza','Albacete BP','CD Tenerife','Cultural Leonesa',
      'Extremadura UD','FC Helsingør','FC Barcelona B','Fortuna Sittard','De Graafschap',
      'Sevilla Atlético','CF Reus Deportiu','CD Numancia','AC Ajaccio','Cesena',
      'AFC Wimbledon','Os Belenenses','Coventry City']

e8 = ['Rochdale','Morecambe','Newport County','Gil Vicente FC','Portugal',
      'ESTAC Troyes','Estoril Praia','Le Havre AC','Aberdeen','AIK','Antalyaspor',
      'NAC Breda','AC Arles Avignon','FC Lorient','Ascoli','1. FC Union Berlin',
      'Charlton Athletic','Medipol Başakşehir FK','Grasshopper Club Zürich',
      'Cambridge United','GFC Ajaccio','Sparta Rotterdam','Melbourne City FC',
      'Brighton & Hove Albion','Ipswich Town','Orlando City SC','Montreal Impact',
      'Hamilton Academical FC','Wolverhampton Wanderers','Norwich City',
      'Derry City','Finn Harps','Birmingham City','Swindon Town','Port Vale',
      'Central Coast Mariners','Brentford','Forest Green Rovers','Luton Town',
      'Peterborough United','Tranmere Rovers','Burton Albion','Northampton Town',
      'Kilmarnock','Millwall','Gillingham','Crawley Town','Mansfield Town','Chesterfield',
      'Hartlepool United']

e9 = ['Club Atlético Sarmiento','Club Atlético Aldosivi',
       'Associação Académica de Coimbra','Ternana','CD Feirense','FC Anzhi Makhachkala',
       'U.N.A.M.','Arsenal de Sarandí','Dijon FCO','Avellino','Brisbane Roar',
       'Stade Brestois 29','FC St. Pauli','SV Werder Bremen II','Dinamo Zagreb',
       'Dynamo Kyiv','Royal Antwerp FC','FK Haugesund','Viking FK','Melbourne Victory','Limerick FC',
       'Houston Dynamo','Chivas USA','Toronto FC','Ross County FC','Vålerenga Fotball',
       'Royal Excel Mouscron','KAA Gent','Vicenza','Atiker Konyaspor','FC Erzgebirge Aue',
       'KSV Cercle Brugge','FC Vestsjælland','IFK Göteborg','Sweden','Aalborg BK',
       'Perugia','Clermont Foot 63','Virtus Entella','Wolfsberger AC','BK Häcken',
       'DC United','FSV Frankfurt','Silkeborg IF','Tromsø IL','HJK Helsinki','FC Zürich',
       'SV Mattersburg','Red Star FC','Ranheim Fotball']

e10 = ['Tigres FC','SC Cambuur','AS Béziers','Austria','Modena','Sandefjord Fotball','Najran SC',
       'Switzerland','Dundee United','Hallescher FC','Shonan Bellmare','Wexford Youths',
       'Al Hazem','Åtvidabergs FF','Kayseri Erciyesspor','Itagüí Leones FC',
       'Stade Lavallois Mayenne FC','Dagenham and Redbridge','Barnet','Ruch Chorzów',
       'Daejeon Citizen','Busan IPark','Trelleborgs FF','GIF Sundsvall','York City',
       'US Orléans Loiret Football','Paraná','Ceará Sporting Club','Vitória',
       'Atlético Clube Goianiense','Avaí FC','Figueirense','Santa Cruz','Joinville',
       'Criciúma','Goiás','Halmstads BK','Galway United','Guizhou Hengfeng FC','Belgium',
       'FC Hansa Rostock','FC Vaduz','Como','Cosenza','KVC Westerlo','Netherlands',
       'Western Sydney Wanderers','Adanaspor','BB Erzurumspor','Atlético de Rafaela','SK Slavia Praha']

e11 = ['Independiente Medellín','Unión Española','Defensa y Justicia','Belgrano de Córdoba',
       'Chapecoense','Hungary','Rio Ave FC','FC Augsburg','Gamba Osaka','Hannover 96','Monarcas Morelia',
       'Deportivo Cali','Club Necaxa','FC Tokyo','Universidad de Chile','Santiago Wanderers','Colombia',
       'En Avant de Guingamp','Tiburones Rojos de Veracruz','Watford','Bari',]

e12 = ['Hungary','CD Cobresal','Partick Thistle FC','FC Rostov','Kawasaki Frontale',
       'Heart of Midlothian','Évian Thonon Gaillard FC','Latina','IK Start','SV Sandhausen',
       'Oud-Heverlee Leuven','KV Oostende','Aarhus GF','Perth Glory','PEC Zwolle',
       'Mjällby AIF','IF Elfsborg','FC Nordsjælland','Crewe Alexandra','Korona Kielce',
       'Preston North End','SpVgg Greuther Fürth','Nîmes Olympique','Columbus Crew SC',
       'LASK Linz','FC Arouca','Akhisar Belediyespor','Çaykur Rizespor','Shamrock Rovers',
       'Heracles Almelo','Northern Ireland','Sint-Truidense VV','Sporting de Charleroi',
       'Kristiansund BK','Stabæk Fotball','Randers FC','Wisła Kraków','Shrewsbury',
       'Bohemian FC','Huddersfield Town','Neuchâtel Xamax','SK Brann','CD Tondela',
       'FC Luzern','Sligo Rovers','União da Madeira','Djurgårdens IF','Kasimpaşa SK',
       'Jönköpings Södra IF','Hammarby IF','Audax Italiano','Canada','IFK Norrköping',
       'FC København','Paraguay','Go Ahead Eagles','Excelsior','Fleetwood Town',
       'FC Groningen','FC Emmen','Hokkaido Consadole Sapporo','Júbilo Iwata',
       'DSC Arminia Bielefeld','Esbjerg fB','Odds BK','Strømsgodset IF',
       'Sarpsborg 08 FF','VfL Bochum 1848','FC Thun','FC St. Gallen','RC Strasbourg Alsace','1. FC Nürnberg',
       'FC Admira Wacker Mödling','Uruguay','FC Sion','Sporting Lokeren',
       'St. Johnstone FC','Dundee FC','Sagan Tosu','Angers SCO','FK Bodø/Glimt',
       'Lillestrøm SK','Sandnes Ulf','IF Brommapojkarna','Falkenbergs FF','Hobro IK',
       'Chicago Fire','San Jose Earthquakes','Sporting Kansas City','Milton Keynes Dons',
       'Sydney FC','Terek Grozny','La Berrichonne de Châteauroux','Venezia FC',
       'Amiens SC','Australia','FK Austria Wien','SønderjyskE','FC Lugano',
       'Philadelphia Union','FC Lausanne-Sport','Sivasspor','SC Paderborn 07',
       'SV Darmstadt 98','Arka Gdynia','MSV Duisburg','VfL Sportfreunde Lotte',
       'KAS Eupen','SC Wiener Neustadt','Leones Negros de la UdeG','SpVgg Unterhaching',
       'KV Mechelen','Mjøndalen IF','Trapani','Pogoń Szczecin','Eintracht Braunschweig',
       'Piast Gliwice','Podbeskidzie Bielsko-Biała','Legia Warszawa','FC Ufa',
       'Fortaleza CEIF','FC Sochaux-Montbéliard','FC Würzburger Kickers','Tours FC',
       'New England Revolution','Deportivo San Marcos de Arica','Jaguares de Chiapas',
       'Chamois Niortais Football Club','Gaziantepspor','Livingston FC','Drogheda United',
       'Holstein Kiel','FSV Zwickau','VfR Aalen','Hibernian','FC Ingolstadt 04',
       'Roda JC Kerkrade','Lierse SK','Novara','Turkey','Eskişehirspor','Göztepe SK',
       'Osmanlıspor','Mersin İdman Yurdu','Gençlerbirliği SK','Adelaide United',
       'Kardemir Karabükspor','Kayserispor','Lyngby BK','FC Rot-Weiß Erfurt',
       'CD Nacional',"CD O'Higgins",'Santa Clara','Al Faisaly','Gangwon FC','GwangJu FC',
       'Korea Republic','SC Heerenveen','US Salernitana 1919','FC Pro Vercelli 1892',
       'Football Bourg En Bresse Peronnas 01','SV Zulte-Waregem','KV Kortrijk','Al Raed',
       'US Cremonese','SKN St. Pölten','1. FC Magdeburg','Carpi','SS Virtus Lanciano',
       'Portland Timbers','Accrington Stanley','AC Horsens','Odense Boldklub',
       'Górnik Zabrze','Al Taawoun','Boyacá Chicó FC','Patriotas Boyacá FC',
       'Dorados de Sinaloa','La Equidad','Lobos BUAP','Gefle IF','Rionegro Águilas',
       'Egypt','Vegalta Sendai','Ventforet Kofu','Bray Wanderers','Dundalk',
       'CD Universidad de Concepción','Kalmar FF','Amkar Perm','FC Wacker Innsbruck',
       'Bulgaria','FC Orenburg','Al Fayha','Jagiellonia Białystok',
       'Universidad Católica','Club Atlético Talleres','Deportivo Pasto',
       'Cúcuta Deportivo','Quilmes Atlético Club','Crucero del Norte','Envigado FC',
       'Club Atlético Temperley','Hebei China Fortune FC','Unión de Santa Fe',
       'San Martín de San Juan','Club Olimpo','Once Caldas','Nueva Chicago',
       'AC Barnechea','Uniautónoma FC','Patronato','Unión La Calera','América de Cali',
       'Deportes Iquique','Peru','CD Cobreloa','Chacarita Juniors','Balıkesirspor',
       'Yeni Malatyaspor','MKE Ankaragücü','SV Ried','Bursaspor','Shimizu S-Pulse',
       'CD Huachipato','Suwon FC','Mordovia Saransk','Torpedo Moscow','Arsenal Tula',
       'Kuban Krasnodar','FC Tom Tomsk','FC Ural Yekaterinburg','FC Tosno','Romania',
       'Śląsk Wrocław','Lechia Gdańsk','Sandecja Nowy Sącz','GKS Bełchatów',
       'Górnik Łęczna','Lech Poznań','ADO Den Haag',"St. Patrick's Athletic",
       'Vissel Kobe','Paris FC','SCR Altach','Henan Jianye FC','IK Sirius',
       'Minnesota United FC','Club América','Miedź Legnica','Bolivia','Venezuela',
       'Al Qadisiyah','Cracovia','Bruk-Bet Termalica Nieciecza','Wisła Płock',
       'Barnsley',' SSV Jahn Regensburg',"Côte d'Ivoire",'FC Dordrecht','Sogndal Fotball',
       'Ecuador','Athlone Town','Chile','Pisa','China PR','Beijing Renhe FC',
       'CD Antofagasta','San Martin de Tucumán','Poland','San Luis de Quillota',
       'SV Meppen','Örebro SK','Curicó Unido','Kaizer Chiefs','Al Fateh','CD Palestino',
       'CD Everton de Viña del Mar','Club Deportes Temuco','Krylya Sovetov Samara',
       'Iceland','SKA Khabarovsk','US Quevilly Rouen Métropole','Waasland-Beveren',
       'Zagłębie Lubin','Cittadella','Changchun Yatai FC','Al Khaleej','Slovenia',
       'Vendsyssel FF','Hajer','Sporting Club de Bastia','New Zealand','Italy',
       'Vancouver Whitecaps FC','AFC Eskilstuna','VVV-Venlo','Wales','Alianza Petrolera',
       'Al Orobah','Al Wehda','Brazil','SV Wehen Wiesbaden','Norway','Omiya Ardija',
       'TSV Hartberg','SG Dynamo Dresden','Wellington Phoenix','Ettifaq FC',
       'Inverness Caledonian Thistle','Tianjin TEDA FC','Grenoble Foot 38',
       '1. FC Heidenheim 1846','Chemnitzer FC','FC Energie Cottbus','Cameroon',
       'Greece','Avispa Fukuoka','Albirex Niigata','India','Zagłębie Sosnowiec',
       'Atlético Bucaramanga','Tianjin Quanjian FC','SG Sonnenhof Großaspach',
       'Guangzhou R&F FC','Atlético Huila','VfL Osnabrück','Cortuluá',
       'Jaguares de Córdoba','Östersunds FK','KFC Uerdingen 05','Dalkurd FF',
       'South Africa','Chongqing Dangdai Lifan FC SWM Team','Al Shoulla',
       'Shanghai Greenland Shenhua FC','Russia','UCD AFC','Dalian YiFang FC',
       'GD Chaves','SC Preußen Münster','Ohod Club','Aalesunds FK','V-Varen Nagasaki',
       'FC Carl Zeiss Jena','Argentina','Deportivo Ñublense','Al Batin',]

In [240]:
print (len(e1),len(e2),len(e3),len(e4),len(e5),len(e6),len(e7),len(e8),len(e9),len(e10),len(e11),len(e12) )

50 50 50 50 50 50 51 50 50 51 21 348

Doy valores a cada lista

In [241]:
eq1 = dict.fromkeys(e1, 1)
eq2 = dict.fromkeys(e2, 2)
eq3 = dict.fromkeys(e3, 3)
eq4 = dict.fromkeys(e4, 4)
eq5 = dict.fromkeys(e5, 5)
eq6 = dict.fromkeys(e6, 6)
eq7 = dict.fromkeys(e7, 7)
eq8 = dict.fromkeys(e8, 8)
eq9 = dict.fromkeys(e9, 9)
eq10 = dict.fromkeys(e10, 10)
eq11 = dict.fromkeys(e11, 11)
eq12 = dict.fromkeys(e12, 12)

uno todas las listas en un diccionario

In [242]:
dic = {**eq1, **eq2, **eq3, **eq4, **eq5, **eq6, **eq7, **eq8, **eq9, **eq10, **eq11, **eq12}

In [243]:
def valor(row):
    return dic[row]

In [244]:
f['club'] = f['club'].apply(lambda x: valor(x))

In [245]:
f['club']

sofifa_id
2          2
2          2
164        5
164        5
164        2
          ..
246057    12
246058    12
246060     5
246061     1
246063     4
Name: club, Length: 82717, dtype: int64

In [246]:
f.head()

,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
2,32,181,82,Italy,2,68,68,0,0,LM,...,69+0,69+0,69+0,71+0,72+0,70+0,70+0,70+0,72+0,15
2,33,182,72,Italy,2,69,69,625000,6000,LM,...,71+0,71+0,71+0,72+0,72+0,71+0,71+0,71+0,72+0,16
164,35,180,76,Italy,5,73,73,975000,1000,"CM, CDM",...,73+1,73+1,73+1,71+1,71+1,72+1,72+1,72+1,71+1,17
164,37,180,76,Italy,5,70,70,240000,2000,"CDM, CM",...,69+2,69+2,69+2,68+2,67+2,69+2,69+2,69+2,67+2,19
164,33,180,73,Italy,2,74,74,0,0,"CDM, CM",...,74+0,74+0,74+0,72+0,72+0,71+0,71+0,71+0,72+0,15

**Columna 'nacionality'**

In [247]:
f.nationality.unique()

array(['Italy', 'Republic of Ireland', 'England', 'Sweden', 'Wales',
       'Australia', 'Brazil', 'Hungary', 'Germany', 'Austria', 'France',
       'Argentina', 'Switzerland', 'Netherlands', 'Spain', 'Portugal',
       'Scotland', 'Mexico', 'Senegal', 'Chile', 'Norway',
       'Northern Ireland', 'Mali', 'Belgium', 'United States', 'Finland',
       'Jamaica', 'Czech Republic', 'Cameroon', 'Denmark', 'Barbados',
       'DR Congo', 'Colombia', 'Trinidad & Tobago', 'Poland',
       'Ivory Coast', 'Libya', 'Cape Verde', 'Canada', 'Peru', 'Paraguay',
       'Japan', 'Bulgaria', 'Philippines', 'Korea Republic', 'Iceland',
       'Nigeria', 'Belarus', 'Croatia', 'Ghana', 'Congo', 'Liberia',
       'Turkey', 'Uruguay', 'Lithuania', 'Algeria', 'South Africa',
       'Venezuela', 'Tunisia', 'Morocco', 'Togo', 'Angola', 'Greece',
       'Slovenia', 'Serbia', 'Russia', 'FYR Macedonia', 'Ukraine',
       'Romania', 'Syria', 'Albania', 'Guatemala', 'Grenada',
       'Puerto Rico', 'El Salvador', 'Suriname', 'Comoros', 'Curacao',
       'Panama', 'Egypt', 'Kosovo', 'Estonia', 'Israel',
       'Bosnia Herzegovina', 'Slovakia', 'Liechtenstein',
       'St Kitts Nevis', 'Armenia', 'Oman', 'Uzbekistan', 'Iran',
       'Bolivia', 'Ethiopia', 'Faroe Islands', 'Costa Rica',
       'Antigua & Barbuda', 'Ecuador', 'Guinea', 'Montenegro',
       'Sierra Leone', 'Chinese Taipei', 'China PR', 'Uganda',
       'Burkina Faso', 'Gibraltar', 'Benin', 'New Zealand',
       'Guinea Bissau', 'Haiti', 'Cyprus', 'Gambia', 'Guyana', 'Moldova',
       'Georgia', 'Equatorial Guinea', 'Cambodia', 'Eritrea', 'Palestine',
       'Kuwait', 'Saudi Arabia', 'Lebanon', 'Central African Rep.',
       'Latvia', 'India', 'Honduras', 'Gabon', 'Kenya', 'Luxembourg',
       'Iraq', 'Azerbaijan', 'Burundi', 'Korea DPR', 'Malta',
       'Kazakhstan', 'Montserrat', 'Madagascar', 'Mauritius', 'Niger',
       'Mauritania', 'Mozambique', 'Somalia', 'Zimbabwe', 'Zambia',
       'Guam', 'Cuba', 'Thailand', 'Bermuda', 'Jordan', 'Tajikistan',
       'Nicaragua', 'Turkmenistan', 'Dominican Republic', 'New Caledonia',
       'Aruba', 'Papua New Guinea', 'Chad', 'Kyrgyzstan', 'Tanzania',
       'São Tomé & Príncipe', 'St Lucia', 'Indonesia', 'Rwanda',
       'Namibia', 'Sudan', 'Bahrain', 'Sri Lanka', 'Afghanistan',
       'Vietnam', 'Belize', 'St Vincent Grenadine', 'Qatar',
       'Brunei Darussalam', 'San Marino', 'Swaziland', 'Hong Kong',
       'South Sudan', 'United Arab Emirates'], dtype=object)

voy a clasificarlas, saco los datos de aqui: https://es.fifa.com/fifa-world-ranking/ranking-table/men/

In [248]:
a= len(f.nationality.unique())
a

177

In [249]:
p1 = ['Belgium','France','Brazil','England','Uruguay','Croatia','Portugal','Spain','Argentina','Colombia',
      'Mexico','Sweden','Italy','Netherlands', 'Germany','Denmark','Switzerland','Chile']

p2 = ['Poland','Senegal','Peru','United','Czech Republic', 'United States','Wales','Ukraine','Venezuela','Austria',
      'Tunisia','Japan','Turkey','Nigeria','Slovakia','Scotland']

p3 = ['Iran','Republic of Ireland','Northern Ireland','Romania','Iceland','Korea Republic','Paraguay',
      'Australia','Morocco','Algeria','Norway','Costa Rica','Ghana','Jamaica','Bosnia Herzegovina']

p4 = ['Egypt','Hungary','Cameroon','Greece','Qatar','Mali','DR Congo','Finland','Bulgaria','Burkina Faso',
      'Ivory Coast','Honduras','Ecuador','Montenegro','Slovenia','Albania','Saudi Arabia','FYR Macedonia',
      'El Salvador']

p5 = ['Iraq','United Arab Emirates','South Africa','Canada','Guinea','Bolivia','China PR','Uganda',
      'Cape Verde','Syria','Curacao','Panama','Oman','Gabon','Benin','Uzbekistan','Haiti','Belarus',
      'Zambia','Congo','Georgia','Lebanon','Madagascar','Israel']

p6 = ['Vietnam','Jordan','Luxembourg','Bahrain','Mauritius','Libya','Armenia','Palestine','Estonia',
      'Trinidad & Tobago','Mozambique','Kenya','India','Central African Rep.','Faroe Islands', 'Zimbabwe',
      'Niger','Thailand','Azerbaijan','Kosovo','Korea DPR','Namibia','Kazakhstan']

p7 = ['Sierra Leone','Barbados','Philippines','Liberia','Lithuania','Togo', 'Angola', 'Serbia', 'Russia',
      'Guatemala', 'Grenada','Puerto Rico',  'Suriname', 'Comoros', 'Liechtenstein','St Kitts Nevis','Ethiopia',
      'Antigua & Barbuda','Chinese Taipei','Gibraltar','New Zealand','Guinea Bissau',  'Cyprus', 'Gambia',
      'Guyana','Moldova','Equatorial Guinea', 'Cambodia', 'Eritrea', 'Kuwait','Latvia','Burundi','Malta',
      'Montserrat','Mauritania',  'Somalia','Guam','Cuba', 'Bermuda','Tajikistan','Nicaragua', 'Turkmenistan',
      'Dominican Republic', 'New Caledonia','Aruba','Papua New Guinea','Chad','Kyrgyzstan','Tanzania',
      'São Tomé & Príncipe','St Lucia', 'Indonesia','Rwanda','Sudan','Sri Lanka','Afghanistan','Belize',
      'St Vincent Grenadine','Brunei Darussalam','San Marino','Swaziland','Hong Kong','South Sudan']

In [250]:
pais1 = dict.fromkeys(p1, 1)
pais2 = dict.fromkeys(p2, 2)
pais3 = dict.fromkeys(p3, 3)
pais4 = dict.fromkeys(p4, 4)
pais5 = dict.fromkeys(p5, 5)
pais6 = dict.fromkeys(p6, 6)
pais7 = dict.fromkeys(p7, 7)

In [251]:
pais3

{'Algeria': 3,
 'Australia': 3,
 'Bosnia Herzegovina': 3,
 'Costa Rica': 3,
 'Ghana': 3,
 'Iceland': 3,
 'Iran': 3,
 'Jamaica': 3,
 'Korea Republic': 3,
 'Morocco': 3,
 'Northern Ireland': 3,
 'Norway': 3,
 'Paraguay': 3,
 'Republic of Ireland': 3,
 'Romania': 3}

In [252]:
dicc = {**pais1, **pais2, **pais3, **pais4, **pais5, **pais6, **pais7}

In [253]:
dicc

{'Afghanistan': 7,
 'Albania': 4,
 'Algeria': 3,
 'Angola': 7,
 'Antigua & Barbuda': 7,
 'Argentina': 1,
 'Armenia': 6,
 'Aruba': 7,
 'Australia': 3,
 'Austria': 2,
 'Azerbaijan': 6,
 'Bahrain': 6,
 'Barbados': 7,
 'Belarus': 5,
 'Belgium': 1,
 'Belize': 7,
 'Benin': 5,
 'Bermuda': 7,
 'Bolivia': 5,
 'Bosnia Herzegovina': 3,
 'Brazil': 1,
 'Brunei Darussalam': 7,
 'Bulgaria': 4,
 'Burkina Faso': 4,
 'Burundi': 7,
 'Cambodia': 7,
 'Cameroon': 4,
 'Canada': 5,
 'Cape Verde': 5,
 'Central African Rep.': 6,
 'Chad': 7,
 'Chile': 1,
 'China PR': 5,
 'Chinese Taipei': 7,
 'Colombia': 1,
 'Comoros': 7,
 'Congo': 5,
 'Costa Rica': 3,
 'Croatia': 1,
 'Cuba': 7,
 'Curacao': 5,
 'Cyprus': 7,
 'Czech Republic': 2,
 'DR Congo': 4,
 'Denmark': 1,
 'Dominican Republic': 7,
 'Ecuador': 4,
 'Egypt': 4,
 'El Salvador': 4,
 'England': 1,
 'Equatorial Guinea': 7,
 'Eritrea': 7,
 'Estonia': 6,
 'Ethiopia': 7,
 'FYR Macedonia': 4,
 'Faroe Islands': 6,
 'Finland': 4,
 'France': 1,
 'Gabon': 5,
 'Gambia': 7,
 'Georgia': 5,
 'Germany': 1,
 'Ghana': 3,
 'Gibraltar': 7,
 'Greece': 4,
 'Grenada': 7,
 'Guam': 7,
 'Guatemala': 7,
 'Guinea': 5,
 'Guinea Bissau': 7,
 'Guyana': 7,
 'Haiti': 5,
 'Honduras': 4,
 'Hong Kong': 7,
 'Hungary': 4,
 'Iceland': 3,
 'India': 6,
 'Indonesia': 7,
 'Iran': 3,
 'Iraq': 5,
 'Israel': 5,
 'Italy': 1,
 'Ivory Coast': 4,
 'Jamaica': 3,
 'Japan': 2,
 'Jordan': 6,
 'Kazakhstan': 6,
 'Kenya': 6,
 'Korea DPR': 6,
 'Korea Republic': 3,
 'Kosovo': 6,
 'Kuwait': 7,
 'Kyrgyzstan': 7,
 'Latvia': 7,
 'Lebanon': 5,
 'Liberia': 7,
 'Libya': 6,
 'Liechtenstein': 7,
 'Lithuania': 7,
 'Luxembourg': 6,
 'Madagascar': 5,
 'Mali': 4,
 'Malta': 7,
 'Mauritania': 7,
 'Mauritius': 6,
 'Mexico': 1,
 'Moldova': 7,
 'Montenegro': 4,
 'Montserrat': 7,
 'Morocco': 3,
 'Mozambique': 6,
 'Namibia': 6,
 'Netherlands': 1,
 'New Caledonia': 7,
 'New Zealand': 7,
 'Nicaragua': 7,
 'Niger': 6,
 'Nigeria': 2,
 'Northern Ireland': 3,
 'Norway': 3,
 'Oman': 5,
 'Palestine': 6,
 'Panama': 5,
 'Papua New Guinea': 7,
 'Paraguay': 3,
 'Peru': 2,
 'Philippines': 7,
 'Poland': 2,
 'Portugal': 1,
 'Puerto Rico': 7,
 'Qatar': 4,
 'Republic of Ireland': 3,
 'Romania': 3,
 'Russia': 7,
 'Rwanda': 7,
 'San Marino': 7,
 'Saudi Arabia': 4,
 'Scotland': 2,
 'Senegal': 2,
 'Serbia': 7,
 'Sierra Leone': 7,
 'Slovakia': 2,
 'Slovenia': 4,
 'Somalia': 7,
 'South Africa': 5,
 'South Sudan': 7,
 'Spain': 1,
 'Sri Lanka': 7,
 'St Kitts Nevis': 7,
 'St Lucia': 7,
 'St Vincent Grenadine': 7,
 'Sudan': 7,
 'Suriname': 7,
 'Swaziland': 7,
 'Sweden': 1,
 'Switzerland': 1,
 'Syria': 5,
 'São Tomé & Príncipe': 7,
 'Tajikistan': 7,
 'Tanzania': 7,
 'Thailand': 6,
 'Togo': 7,
 'Trinidad & Tobago': 6,
 'Tunisia': 2,
 'Turkey': 2,
 'Turkmenistan': 7,
 'Uganda': 5,
 'Ukraine': 2,
 'United': 2,
 'United Arab Emirates': 5,
 'United States': 2,
 'Uruguay': 1,
 'Uzbekistan': 5,
 'Venezuela': 2,
 'Vietnam': 6,
 'Wales': 2,
 'Zambia': 5,
 'Zimbabwe': 6}

In [254]:
dicc['Republic of Ireland']

3

In [255]:
def valor2(x, diction):
    return diction[x]

In [256]:
f['nationality'] = f['nationality'].apply(lambda x: valor2(x, dicc))

In [257]:
f.nationality.unique()

array([1, 3, 2, 4, 7, 6, 5])

In [258]:
f.head()

,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
2,32,181,82,1,2,68,68,0,0,LM,...,69+0,69+0,69+0,71+0,72+0,70+0,70+0,70+0,72+0,15
2,33,182,72,1,2,69,69,625000,6000,LM,...,71+0,71+0,71+0,72+0,72+0,71+0,71+0,71+0,72+0,16
164,35,180,76,1,5,73,73,975000,1000,"CM, CDM",...,73+1,73+1,73+1,71+1,71+1,72+1,72+1,72+1,71+1,17
164,37,180,76,1,5,70,70,240000,2000,"CDM, CM",...,69+2,69+2,69+2,68+2,67+2,69+2,69+2,69+2,67+2,19
164,33,180,73,1,2,74,74,0,0,"CDM, CM",...,74+0,74+0,74+0,72+0,72+0,71+0,71+0,71+0,72+0,15

**columna preferred_foot**

In [259]:
f['preferred_foot'].unique()

array(['Left', 'Right'], dtype=object)

In [260]:
def pie (row):
    groups = {
        "Left": 1,
        "Right" : 2
    }
    return groups[row]

In [261]:
f['preferred_foot'] = f['preferred_foot'].apply(lambda x: pie(x))

In [1]:
f['preferred_foot'].unique()

NameError: name 'f' is not defined

**columna player_positions**

In [25]:
b=len(f['player_positions'].unique())
b

1706

In [26]:
f['player_positions'].unique()

array(['CF', 'LW, LM', 'RM, LM, RW', ..., 'RWB, LB', 'ST, LW, CDM',
       'CM, RWB, CDM'], dtype=object)

In [27]:
f['player_positions']

sofifa_id
158023            CF
20801         LW, LM
9014      RM, LM, RW
41236             ST
167495            GK
             ...
238985       CM, CDM
240160            ST
241304            CM
240158            RB
243961            CM
Name: player_positions, Length: 82717, dtype: object

In [28]:
f['player_positions'] = f['player_positions'].str.split(pat=',',expand=True)
f['player_positions']

sofifa_id
158023    CF
20801     LW
9014      RM
41236     ST
167495    GK
          ..
238985    CM
240160    ST
241304    CM
240158    RB
243961    CM
Name: player_positions, Length: 82717, dtype: object

In [29]:
f['player_positions'].unique()

array(['CF', 'LW', 'RM', 'ST', 'GK', 'LM', 'CM', 'CDM', 'CB', 'CAM', 'RW',
       'RB', 'LB', 'LWB', 'RWB'], dtype=object)

In [39]:
def position (row):
    groups = {
        'CF' : 'MP',
        'LW' : 'EI',
        'RW' : 'ED',
        'RM' : 'CD',
        'LM' : 'CI',
        'CDM' : 'CM',
        'CAM' : 'CM',
        'RB' : 'LD',
        'RWB' : 'LD',
        'LB' : 'LI',
        'LWB' : 'LI',
        'CB' : 'DF',
        'ST' : 'ST',
        'GK' : 'GK',
        'CM' : 'CM',
    }
    return groups[row]

In [40]:
f['player_positions'] = f['player_positions'].apply(lambda x: position(x))

In [41]:
f['player_positions'].unique()

array(['MP', 'EI', 'CD', 'ST', 'GK', 'CI', 'CM', 'DF', 'ED', 'LD', 'LI'],
      dtype=object)

In [42]:
print(len(f['player_positions']))

82717

In [269]:
arturo = arturo.drop([2,3], axis=1)
arturo
#df.drop(['Desv DM', 'Sesgo DM'], axis = 'columns', inplace=True)

             0     1
sofifa_id
2           LM  None
2           LM  None
164         CM   CDM
164        CDM    CM
164        CDM    CM
...        ...   ...
246057     CDM  None
246058      CM  None
246060      LB  None
246061      RB  None
246063     CDM  None

[82717 rows x 2 columns]

In [192]:
'''for e in range(len(arturo)):
    if arturo[1][e]==None:
        arturo[1][e] = arturo[0][e]
    else:
        pass
arturo'''

KeyError: 0

In [111]:
#str_position = 'CM, CDM, LB'
#lst_pos = str_position.split(', ')

In [112]:
#lst_pos

['CM', 'CDM', 'LB']

In [55]:
#f['player_positions'] = f['player_positions'].apply(lambda x: x.split(', '))

In [56]:
#f['player_positions'].head()

sofifa_id
2           [LM]
2           [LM]
164    [CM, CDM]
164    [CDM, CM]
164    [CDM, CM]
Name: player_positions, dtype: object

In [57]:
#arturo = f['player_positions'].apply(pd.Series)

In [270]:
arturo

             0     1
sofifa_id
2           LM  None
2           LM  None
164         CM   CDM
164        CDM    CM
164        CDM    CM
...        ...   ...
246057     CDM  None
246058      CM  None
246060      LB  None
246061      RB  None
246063     CDM  None

[82717 rows x 2 columns]

In [271]:
tags =arturo.apply(pd.Series)
tags

             0     1
sofifa_id
2           LM  None
2           LM  None
164         CM   CDM
164        CDM    CM
164        CDM    CM
...        ...   ...
246057     CDM  None
246058      CM  None
246060      LB  None
246061      RB  None
246063     CDM  None

[82717 rows x 2 columns]

In [272]:
tags[1].fillna(value=0, inplace=True)

In [273]:

tags.reset_index(drop=True, inplace=True)

In [274]:
tags

         0     1
0       LM     0
1       LM     0
2       CM   CDM
3      CDM    CM
4      CDM    CM
...    ...   ...
82712  CDM     0
82713   CM     0
82714   LB     0
82715   RB     0
82716  CDM     0

[82717 rows x 2 columns]

In [275]:
for e in range(len(tags)):
    if tags[1][e]==0:
        tags[1][e] = tags[0][e]
    else:
        pass
tags

         0     1
0       LM    LM
1       LM    LM
2       CM   CDM
3      CDM    CM
4      CDM    CM
...    ...   ...
82712  CDM   CDM
82713   CM    CM
82714   LB    LB
82715   RB    RB
82716  CDM   CDM

[82717 rows x 2 columns]

In [276]:
arturo[['pos1', 'pos2']] = tags[[0,1]]
arturo

             0     1 pos1  pos2
sofifa_id
2           LM  None   CM   CDM
2           LM  None   CM   CDM
164         CM   CDM   GK    GK
164        CDM    CM   GK    GK
164        CDM    CM   GK    GK
...        ...   ...  ...   ...
246057     CDM  None  NaN   NaN
246058      CM  None  NaN   NaN
246060      LB  None  NaN   NaN
246061      RB  None  NaN   NaN
246063     CDM  None  NaN   NaN

[82717 rows x 4 columns]

In [277]:
arturo = arturo.drop([0,1],axis=1)
arturo

          pos1  pos2
sofifa_id
2           CM   CDM
2           CM   CDM
164         GK    GK
164         GK    GK
164         GK    GK
...        ...   ...
246057     NaN   NaN
246058     NaN   NaN
246060     NaN   NaN
246061     NaN   NaN
246063     NaN   NaN

[82717 rows x 2 columns]

In [ ]:
f = fifa.drop(['player_url', 'short_name','long_name', 'dob', 'real_face','team_position','team_jersey_number',
               'loaned_from','joined','contract_valid_until','nation_position','nation_jersey_number',
               'player_traits','mentality_composure',], axis=1)

In [ ]:
#arturito = pd.merge(arturo, arturo2, on=0)

In [ ]:
arturito

In [358]:
arturo.to_csv('hola.csv')

In [354]:
for x in arturo:
    print(x)

0
1

In [356]:
c = 0
for x in arturo:
    if arturo[x][c]==0:
        arturo[x][c]==arturo[0][x]
    else:
        pass
    c += 1

0

KeyError: 0

In [342]:
def quitaCero(x):
    if x == 0:
        x = x
        return x
    else

In [343]:
arturo[1] = arturo[0].apply(quitaCero)

In [339]:
for i, a in enumerate(arturo[1]):
    if a==0:
        a=arturo.iloc[i][0]

In [344]:
arturo.head()

             0     1
sofifa_id
2           LM  None
2           LM  None
164         CM  None
164        CDM  None
164        CDM  None

In [329]:
arturo[1].fillna(value=0)

sofifa_id
2           0
2           0
164       CDM
164        CM
164        CM
         ...
246057      0
246058      0
246060      0
246061      0
246063      0
Name: 1, Length: 82717, dtype: object

In [ ]:
def coge(x):
    np.where(x==0, )

In [322]:
arturo.columns

Int64Index([0, 1], dtype='int64')

In [327]:
arturo[1].values[0]

nan

In [193]:
#f['player_positions'] = f['player_positions'].apply(pd.Series)

In [57]:
#f = f.explode('player_positions')

In [58]:
#f['player_positions'].unique()

ya tenemos una fila para cada posicion de cada jugador

**columnas de posiciones de jugador**

In [59]:
pos = ['ls','st','rs','lw','lf','cf','rf','rw','lam','cam','ram','lm','lcm','cm','rcm','rm','lwb','ldm','cdm',
       'rdm','rwb','lb','lcb','cb','rcb','rb']

In [60]:
f['ls'].isnull().sum().sum()

9211

tengo muchos valores nulos, los voy a cambiar por 0

In [61]:

for p in pos:
    f[p] = f[p].fillna(value=0).astype("str")

In [62]:
f['ls'].isnull().sum()

0

In [63]:
f['ls']

sofifa_id
2         63+0
2         65+0
164       68+1
164       63+2
164       68+0
          ...
246057    59+2
246058    63+2
246060    43+2
246061    49+2
246063    47+2
Name: ls, Length: 82717, dtype: object

**columnas con sumas y restas**

In [64]:
col = ['attacking_crossing','attacking_finishing','attacking_heading_accuracy','attacking_short_passing',
       'attacking_volleys','skill_dribbling','skill_curve','skill_fk_accuracy','skill_long_passing',
       'skill_ball_control','movement_acceleration','movement_sprint_speed','movement_agility',
       'movement_reactions','movement_balance','power_shot_power','power_jumping','power_stamina',
       'power_strength','power_long_shots','mentality_aggression','mentality_interceptions',
       'mentality_positioning','mentality_vision','mentality_penalties',
       'defending_marking','defending_standing_tackle','defending_sliding_tackle','goalkeeping_diving',
       'goalkeeping_handling','goalkeeping_kicking','goalkeeping_positioning','goalkeeping_reflexes','ls',
       'st','rs','lw','lf','cf','rf','rw','lam','cam','ram','lm','lcm','cm','rcm','rm','lwb','ldm','cdm',
       'rdm','rwb','lb','lcb','cb','rcb','rb']
len(col)

59

In [65]:
f['ls'].dtypes

dtype('O')

In [66]:
f['power_stamina'].unique()

array(['77', '74', '69+1', ..., '56+18', '55+19', '38-19'], dtype=object)

In [67]:
for c in col:
    f[c] = f[c].apply((lambda x: eval(x)))
    print(c)

attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
defending_marking
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb

In [68]:
f['ls'].unique()

array([63, 65, 69, 68, 79, 81, 80,  0, 42, 61, 62, 64, 50, 49, 51, 40, 44,
       43, 74, 53, 76, 77, 48, 55, 73, 70, 67, 47, 66, 75, 72, 56, 52, 59,
       71, 60, 57, 45, 58, 54, 39, 78, 46, 82, 88, 84, 37, 83, 87, 85, 86,
       33, 34, 95, 94, 36, 90, 89, 41, 38, 92, 35, 32, 91, 30, 29])

In [69]:
f.head()

,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
2,32,181,82,1,2,68,68,0,0,[LM],...,69,69,69,71,72,70,70,70,72,15
2,33,182,72,1,2,69,69,625000,6000,[LM],...,71,71,71,72,72,71,71,71,72,16
164,35,180,76,1,5,73,73,975000,1000,"[CM, CDM]",...,74,74,74,72,72,73,73,73,72,17
164,37,180,76,1,5,70,70,240000,2000,"[CDM, CM]",...,71,71,71,70,69,71,71,71,69,19
164,33,180,73,1,2,74,74,0,0,"[CDM, CM]",...,74,74,74,72,72,71,71,71,72,15

In [70]:
f["ls"].dtypes

dtype('int64')

In [71]:
f.to_csv("./output/f.csv")

In [72]:
list(f.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [67]:
#f['player_positions']= f['player_positions'].map(str)