In [16]:
import pandas as pd
import numpy as np

testing = pd.read_csv('./output/testing.csv')
fif = pd.read_csv('./output/f20.csv')

In [17]:
testing.head()

,Unnamed: 0,sofifa_id,short_name,player_positions,overall_2020,overall,evol
0,0,158023,L. Messi,ED,94,93,-1
1,1,20801,Cristiano Ronaldo,ST,93,93,0
2,2,190871,Neymar Jr,EI,92,93,1
3,3,200389,J. Oblak,GK,91,90,-1
4,4,183277,E. Hazard,EI,91,91,0

In [18]:
testing.shape

(18278, 7)

In [19]:
fif.shape

(18278, 88)

In [21]:
fifa = testing.drop(['Unnamed: 0'], axis=1)
fifa.head()

   sofifa_id         short_name player_positions  overall_2020  overall  evol
0     158023           L. Messi               ED            94       93    -1
1      20801  Cristiano Ronaldo               ST            93       93     0
2     190871          Neymar Jr               EI            92       93     1
3     200389           J. Oblak               GK            91       90    -1
4     183277          E. Hazard               EI            91       91     0

In [22]:
fif= fif[['age','pace','shooting','passing','dribbling','defending','physic',]]
fif.head()

   age  pace  shooting  passing  dribbling  defending  physic
0   32  87.0      92.0     92.0       96.0       39.0    66.0
1   34  90.0      93.0     82.0       89.0       35.0    78.0
2   27  91.0      85.0     87.0       95.0       32.0    58.0
3   26   0.0       0.0      0.0        0.0        0.0     0.0
4   28  91.0      83.0     86.0       94.0       35.0    66.0

In [23]:
fifa = pd.concat([fifa, fif], axis=1)

In [24]:
fifa.head()

,sofifa_id,short_name,player_positions,overall_2020,overall,evol,age,pace,shooting,passing,dribbling,defending,physic
0,158023,L. Messi,ED,94,93,-1,32,87.0,92.0,92.0,96.0,39.0,66.0
1,20801,Cristiano Ronaldo,ST,93,93,0,34,90.0,93.0,82.0,89.0,35.0,78.0
2,190871,Neymar Jr,EI,92,93,1,27,91.0,85.0,87.0,95.0,32.0,58.0
3,200389,J. Oblak,GK,91,90,-1,26,0.0,0.0,0.0,0.0,0.0,0.0
4,183277,E. Hazard,EI,91,91,0,28,91.0,83.0,86.0,94.0,35.0,66.0

In [9]:
columnas=['pace','shooting','passing','dribbling','defending','physic']
for a in columnas:
    fifa[a] = fifa[a].astype('int')

In [10]:
fifa.head()

,sofifa_id,short_name,player_positions,overall_2020,overall,age,pace,shooting,passing,dribbling,defending,physic
0,158023,L. Messi,ED,94,93,32,87,92,92,96,39,66
1,20801,Cristiano Ronaldo,ST,93,93,34,90,93,82,89,35,78
2,190871,Neymar Jr,EI,92,93,27,91,85,87,95,32,58
3,200389,J. Oblak,GK,91,90,26,0,0,0,0,0,0
4,183277,E. Hazard,EI,91,91,28,91,83,86,94,35,66

In [11]:
fifa.to_csv("./output/fifa-sql.csv")