Importo los data del 2015 al 2020

In [137]:
import pandas as pd
import numpy as np

df20 = pd.read_csv('./input/players_20.csv')
df19 = pd.read_csv('./input/players_19.csv')
df18 = pd.read_csv('./input/players_18.csv')
df17 = pd.read_csv('./input/players_17.csv')
df16 = pd.read_csv('./input/players_16.csv')
df15 = pd.read_csv('./input/players_15.csv')

Trabajo con la columna 'player_positions', utilizo solo la primera posición, que es la mas usada por el jugador

In [141]:
df=[df15, df16, df17, df18, df19, df20]
for a in df:
    a['player_positions'] = a['player_positions'].str.split(',').str[0]
    a['overall'] = a['overall'].round()

In [142]:
df15['player_positions'].unique()

array(['CF', 'LW', 'RM', 'ST', 'GK', 'LM', 'CM', 'CDM', 'CB', 'CAM', 'RW',
       'RB', 'LB', 'LWB', 'RWB'], dtype=object)

Agrupo las posiciones para dejarlas en 11 y ponerles nombres en castellano

In [143]:
df15['overall'].unique()

array([93, 92, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76,
       75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59,
       58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42,
       41, 40])

In [144]:
def position (row):
    groups = {
        'CF' : 'MP',
        'LW' : 'EI',
        'RW' : 'ED',
        'RM' : 'CD',
        'LM' : 'CI',
        'CDM' : 'CM',
        'CAM' : 'CM',
        'RB' : 'LD',
        'RWB' : 'LD',
        'LB' : 'LI',
        'LWB' : 'LI',
        'CB' : 'DF',
        'ST' : 'ST',
        'GK' : 'GK',
        'CM' : 'CM',
    }
    return groups[row]

for a in df:
    a['player_positions'] = a['player_positions'].apply(lambda x: position(x))

In [145]:
df20['player_positions'].unique()

array(['ED', 'ST', 'EI', 'GK', 'CM', 'DF', 'MP', 'LI', 'LD', 'CD', 'CI'],
      dtype=object)

In [146]:
df15 = df15[['sofifa_id','short_name','player_positions','overall','age']]
df16 = df16[['sofifa_id','short_name','player_positions','overall','age']]
df17 = df17[['sofifa_id','short_name','player_positions','overall','age']]
df18 = df18[['sofifa_id','short_name','player_positions','overall','age']]
df19 = df19[['sofifa_id','short_name','player_positions','overall','age']]
df20 = df20[['sofifa_id','short_name','player_positions','overall','age']]

In [147]:
df15.head()

   sofifa_id         short_name player_positions  overall  age
0     158023           L. Messi               MP       93   27
1      20801  Cristiano Ronaldo               EI       92   29
2       9014          A. Robben               CD       90   30
3      41236     Z. Ibrahimović               ST       90   32
4     167495           M. Neuer               GK       90   28

In [148]:
df15.to_csv("./output/df15.csv")
df16.to_csv("./output/df16.csv")
df17.to_csv("./output/df17.csv")
df18.to_csv("./output/df18.csv")
df19.to_csv("./output/df19.csv")
df20.to_csv("./output/df20.csv")

Funcion para conseguir que me diga los mejores jugadores por posición de cada año, y dentro de unas formaciones preestablecidas por mi

In [121]:
def get_best_squad(df_name, position):
    df_copy = df_name.copy()
    store = []
    over = df_copy['overall_15','overall_16','overall_17','overall_18','overall_19','overall_20',]
    for i in position:
        for o in over:
            store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i][o].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i][o].max()])
            df_copy.drop(df_copy[df_copy['player_positions'] == i][o].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'Overall']).to_string(index = False)

In [122]:
def get_best_squad(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['overall'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['overall'].max()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['overall'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'Overall']).to_string(index = False)

# 4-3-3
squad_433 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'CM', 'EI', 'ST', 'ED']
squad_343 = ['GK', 'DF', 'DF', 'DF', 'CI', 'CM', 'CM', 'CD', 'EI', 'ST', 'ED']
squad_352 = ['GK', 'DF', 'DF', 'DF', 'LI', 'LD', 'CM', 'CM', 'MP', 'ST', 'ST']
squad_442 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CI', 'CM', 'CM', 'CD', 'ST', 'ST']
squad_523 = ['GK', 'LI', 'DF', 'DF', 'DF', 'LD', 'CM', 'CM', 'ST', 'ST', 'ST']
squad_451 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'EI', 'MP', 'ED', 'ST']


print ('4-3-3 in FIFA 20')
print (get_best_squad(df20, squad_433))
print ('3-4-3 in FIFA 19')
print (get_best_squad(df19, squad_343))
print ('3-5-2 in FIFA 18')
print (get_best_squad(df18, squad_352))
print ('4-2-2 in FIFA 17')
print (get_best_squad(df17, squad_442))
print ('5-2-3 in FIFA 16')
print (get_best_squad(df16, squad_523))
print ('4-5-1 in FIFA 15')
print (get_best_squad(df15, squad_451))

4-3-3 in FIFA 20
Position              Player Overall
      GK            J. Oblak      91
      LI          Jordi Alba      87
      DF         V. van Dijk      90
      DF        K. Koulibaly      89
      LD          J. Kimmich      86
      CM        K. De Bruyne      91
      CM           L. Modrić      90
      CM            N. Kanté      89
      EI           Neymar Jr      92
      ST   Cristiano Ronaldo      93
      ED            L. Messi      94
3-4-3 in FIFA 19
Position              Player Overall
      GK              De Gea      91
      DF        Sergio Ramos      91
      DF            D. Godín      90
      DF        G. Chiellini      89
      CI          I. Perišić      86
      CM        K. De Bruyne      91
      CM           L. Modrić      91
      CD           A. Robben      85
      EI           Neymar Jr      92
      ST   Cristiano Ronaldo      94
      ED            M. Salah      88
3-5-2 in FIFA 18
Position           Player Overall
      GK         M. Neuer      92
      DF     Sergio Ramos      90
      DF     G. Chiellini      89
      DF     Thiago Silva      88
      LI          Marcelo      87
      LD         Carvajal      84
      CM         T. Kroos      90
      CM     K. De Bruyne      89
      MP       D. Mertens      86
      ST        L. Suárez      92
      ST   R. Lewandowski      91
4-2-2 in FIFA 17
Position           Player Overall
      GK         M. Neuer      92
      LI         D. Alaba      87
      DF       J. Boateng      90
      DF     Sergio Ramos      89
      LD          P. Lahm      88
      CI        E. Hazard      88
      CM          M. Özil      89
      CM        L. Modrić      89
      CD        A. Robben      87
      ST        L. Suárez      92
      ST   Z. Ibrahimović      90
5-2-3 in FIFA 16
Position           Player Overall
      GK         M. Neuer      90
      LI         D. Alaba      85
      DF     Thiago Silva      88
      DF       J. Boateng      87
      DF     G. Chiellini      87
      LD       Dani Alves      84
      CM      David Silva      88
      CM     J. Rodríguez      87
      ST        L. Suárez      90
      ST   Z. Ibrahimović      89
      ST   R. Lewandowski      87
4-5-1 in FIFA 15
Position              Player Overall
      GK            M. Neuer      90
      LI            D. Alaba      82
      DF        Sergio Ramos      87
      DF        Thiago Silva      87
      LD          Dani Alves      83
      CM   B. Schweinsteiger      88
      CM             P. Lahm      87
      EI   Cristiano Ronaldo      92
      MP            L. Messi      93
      ED          A. Sánchez      84
      ST      Z. Ibrahimović      90

Hago lo mismo con la prediccion de 2021

In [123]:
testing = pd.read_csv('output/predictfinal2.csv')
testing.head()

   sofifa_id    overall
0     158023  93.334595
1      20801  92.799469
2     190871  92.543037
3     200389  90.172699
4     183277  91.046577

In [124]:
testing['overall'] = testing['overall'].round()
testing['overall'] = testing['overall'].astype('int')

In [125]:
testing.head()

   sofifa_id  overall
0     158023       93
1      20801       93
2     190871       93
3     200389       90
4     183277       91

Añado las columnas 'best_position' y 'short_name'

In [126]:
listaa=['player_positions','short_name']
for a in listaa:
    testing[a] = df20[[a]]

In [127]:
testing.head()

   sofifa_id  overall player_positions         short_name
0     158023       93               ED           L. Messi
1      20801       93               ST  Cristiano Ronaldo
2     190871       93               EI          Neymar Jr
3     200389       90               GK           J. Oblak
4     183277       91               EI          E. Hazard

Lo pruebo y ...

In [128]:
print ('4-3-3 in FIFA 21')
print (get_best_squad(testing, squad_433))

4-3-3 in FIFA 21
Position              Player Overall
      GK            J. Oblak      90
      LI          Jordi Alba      87
      DF         V. van Dijk      89
      DF        K. Koulibaly      89
      LD            Carvajal      86
      CM        K. De Bruyne      91
      CM           L. Modrić      89
      CM            N. Kanté      89
      EI           Neymar Jr      93
      ST   Cristiano Ronaldo      93
      ED            L. Messi      93

## edad

In [129]:
df20[df20['age']==20]

       sofifa_id           short_name player_positions  overall  age
10        231747            K. Mbappé               ST       89   20
74        230621        G. Donnarumma               GK       85   20
109       235790           K. Havertz               CM       84   20
160       231281  T. Alexander-Arnold               LD       83   20
572       231691            A. Lafont               GK       79   20
...          ...                  ...              ...      ...  ...
18221     251125         J. Rodríguez               DF       49   20
18224     251159         Lee Kyu Hyuk               LI       49   20
18249     233667        Shan Huanhuan               ST       48   20
18271     243961             E. Tweed               CM       48   20
18272     251789            P. Martin               GK       48   20

[1247 rows x 5 columns]

funcion que me devuelve los jugadores que estan en un rango de edad, desde 'n'(minimo) hasta 'm'(maximo)

In [130]:
def age(df,n,m):
    return df[(df['age'] >= n) & (df['age'] < m)]

In [131]:
age (df20, 17, 21)

       sofifa_id     short_name player_positions  overall  age
10        231747      K. Mbappé               ST       89   20
73        235243     M. de Ligt               DF       85   19
74        230621  G. Donnarumma               GK       85   20
108       233049      J. Sancho               CD       84   19
109       235790     K. Havertz               CM       84   20
...          ...            ...              ...      ...  ...
18269     252181   Huang Jiahui               DF       48   18
18271     243961       E. Tweed               CM       48   20
18272     251789      P. Martin               GK       48   20
18275     252332      Zhang Wei               CM       48   19
18276     251110   Wang Haijian               CM       48   18

[3127 rows x 5 columns]

## Evolución!!

añando la columna 'overall' del 2020 para hacer la comparacion con la predicción del 2021, y ordenos las columnas para que visualmente sea mas atractivo

In [16]:
testing['overall_2020'] = df20[['overall']]
testing.head()

   sofifa_id  overall player_positions         short_name  overall_2020
0     158023       93               ED           L. Messi            94
1      20801       93               ST  Cristiano Ronaldo            93
2     190871       93               EI          Neymar Jr            92
3     200389       90               GK           J. Oblak            91
4     183277       91               EI          E. Hazard            91

In [17]:
testing = testing[['sofifa_id','short_name', 'player_positions', 'overall_2020', 'overall']]
testing.head()

   sofifa_id         short_name player_positions  overall_2020  overall
0     158023           L. Messi               ED            94       93
1      20801  Cristiano Ronaldo               ST            93       93
2     190871          Neymar Jr               EI            92       93
3     200389           J. Oblak               GK            91       90
4     183277          E. Hazard               EI            91       91

In [18]:
testing['evol'] = (testing['overall']-testing['overall_2020'])

In [19]:
testing.head()

   sofifa_id         short_name player_positions  overall_2020  overall  evol
0     158023           L. Messi               ED            94       93    -1
1      20801  Cristiano Ronaldo               ST            93       93     0
2     190871          Neymar Jr               EI            92       93     1
3     200389           J. Oblak               GK            91       90    -1
4     183277          E. Hazard               EI            91       91     0

In [20]:
testing.to_csv("./output/testing.csv")

Funcion para decidir el once que mas va a evolucionar en un año, por posicion

In [21]:
def get_best_eval(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['evol'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['evol'].max()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['evol'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'evol']).to_string(index = False)

In [22]:
print ('4-3-3 in testing')
print (get_best_eval(testing, squad_433))

4-3-3 in testing
Position          Player evol
      GK        A. Meyer    2
      LI        D. Alaba    1
      DF        D. Bowry    2
      DF    Xiao Mingjie    2
      LD    F. Sierralta    2
      CM    L. Coulibaly    2
      CM     João Afonso    2
      CM    F. Henríquez    2
      EI    Lee Joon Suk    3
      ST   Park Dong Jin    2
      ED         G. Bale    1

Funcion para decidir el once que mas va a empeorar en un año, por posicion

In [23]:
def get_worst_eval(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['evol'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['evol'].min()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['evol'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'evol']).to_string(index = False)

In [135]:
print ('4-3-3 in testing')
print (get_worst_eval(testing, squad_433))

4-3-3 in testing

KeyError: 'evol'

testing con evol de todos los años

In [149]:
testing['overall_15'] = df15[['overall']]
testing['overall_16'] = df16[['overall']]
testing['overall_17'] = df17[['overall']]
testing['overall_18'] = df18[['overall']]
testing['overall_19'] = df19[['overall']]
testing['overall_20'] = df20[['overall']]

testing.head()

,sofifa_id,short_name,player_positions,overall_15,overall_16,overall_17,overall_18,overall_19,overall_20,overall
0,158023,L. Messi,ED,93.0,94.0,94.0,94.0,94.0,94,93
1,20801,Cristiano Ronaldo,ST,92.0,93.0,93.0,93.0,94.0,93,93
2,190871,Neymar Jr,EI,90.0,90.0,92.0,92.0,92.0,92,93
3,200389,J. Oblak,GK,90.0,90.0,92.0,92.0,91.0,91,90
4,183277,E. Hazard,EI,90.0,90.0,92.0,92.0,91.0,91,91

In [150]:
testing = testing[['sofifa_id','short_name','player_positions','overall_15','overall_16', 'overall_17','overall_18','overall_19','overall_20', 'overall']]
testing.head()

,sofifa_id,short_name,player_positions,overall_15,overall_16,overall_17,overall_18,overall_19,overall_20,overall
0,158023,L. Messi,ED,93.0,94.0,94.0,94.0,94.0,94,93
1,20801,Cristiano Ronaldo,ST,92.0,93.0,93.0,93.0,94.0,93,93
2,190871,Neymar Jr,EI,90.0,90.0,92.0,92.0,92.0,92,93
3,200389,J. Oblak,GK,90.0,90.0,92.0,92.0,91.0,91,90
4,183277,E. Hazard,EI,90.0,90.0,92.0,92.0,91.0,91,91

In [151]:
testing.to_csv("./output/testing2.csv")